In [25]:
import pandas as pd
import numpy as np

In [26]:
Parkhäuser = pd.read_csv("../Final_Data/Cleaned/1000014cleaned.csv")
Flugbewegungen = pd.read_csv("../Final_Data/Cleaned/Airport_traffic_hourly_cleaned.csv")
Gasverbrauch = pd.read_csv("../Final_Data/Cleaned/Gasverbrauch_cleaned.csv")
#Schallmessungen = pd.read_csv("../Final_Data/Cleaned/Schallmessungen_cleaned.csv", sep=";") -> zu viele Datenpunkte fehlen
Stromverbrauch = pd.read_csv("../Final_Data/Cleaned/Stromverbrauch_Basel_hourly_cleaned.csv")
Wetterdaten = pd.read_csv("../Final_Data/Cleaned/Wetterdaten_Basel_cleaned22_24.csv")
Verkehrsdaten = pd.read_csv("../Final_Data/Cleaned/1000006cleaned.csv")

In [27]:

Parkhäuser.rename(columns={"RoundedTime": "Datum"}, inplace=True)
Parkhäuser.head()
#Flugbewegungen.drop(columns=["Unnamed: 0"], inplace=True)
Flugbewegungen.head()
#Gasverbrauch.head()
#Schallmessungen.drop(columns=["Unnamed: 0"], inplace=True)
#Schallmessungen.head()
#Stromverbrauch.drop(columns=["Unnamed: 0"], inplace=True)
#Stromverbrauch.head()
#Wetterdaten.head()
#Verkehrsdaten.rename(columns={"DateTimeFrom": "Datum"}, inplace=True)
#Verkehrsdaten.head()

   Unnamed: 0                      Datum  Hour  Traffic   Weekday
0           0  2022-01-01 00:00:00+00:00     0      1.0  Saturday
1           1  2022-01-01 00:00:00+00:00     1      0.0  Saturday
2           2  2022-01-01 00:00:00+00:00     2      0.0  Saturday
3           3  2022-01-01 00:00:00+00:00     3      0.0  Saturday
4           4  2022-01-01 00:00:00+00:00     4      0.0  Saturday

In [28]:
Parkhäuser.head()

,Datum,Rebgassechange,Clarahuuschange,Citychange,Storchenchange,Post Baselchange,Aeschenchange,Bahnhof Südchange,Bad. Bahnhofchange,Europechange,Claramattechange,Elisabethenchange,Steinenchange,Kunstmuseumchange,Messechange,Anfoschange,Centralbahnparkingchange
0,2022-01-01 00:00:00+00:00,-7.0,-6.0,-15.0,-19.0,0.0,-2.0,-2.0,-3.0,-1.0,-23.0,-5.0,-10.0,-4.0,-7.0,0.0,-2.0
1,2022-01-01 01:00:00+00:00,-7.0,-1.0,-4.0,-9.0,-1.0,0.0,0.0,0.0,0.0,0.0,-9.0,-19.0,0.0,-8.0,-1.0,-1.0
2,2022-01-01 02:00:00+00:00,-4.0,0.0,-1.0,-1.0,0.0,0.0,-1.0,0.0,0.0,0.0,-12.0,-23.0,0.0,-8.0,0.0,0.0
3,2022-01-01 03:00:00+00:00,-3.0,0.0,-1.0,-6.0,0.0,0.0,0.0,0.0,0.0,0.0,-15.0,-10.0,0.0,-2.0,0.0,0.0
4,2022-01-01 04:00:00+00:00,-2.0,0.0,2.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,-1.0,-7.0,0.0,-2.0,0.0,1.0

In [29]:
Flugbewegungen.head()

   Unnamed: 0                      Datum  Hour  Traffic   Weekday
0           0  2022-01-01 00:00:00+00:00     0      1.0  Saturday
1           1  2022-01-01 00:00:00+00:00     1      0.0  Saturday
2           2  2022-01-01 00:00:00+00:00     2      0.0  Saturday
3           3  2022-01-01 00:00:00+00:00     3      0.0  Saturday
4           4  2022-01-01 00:00:00+00:00     4      0.0  Saturday

In [30]:
Verkehrsdaten = Verkehrsdaten.rename(columns={"DateTimeFrom": "Datum"})
print(Verkehrsdaten['Datum'].isna().sum())

0

In [31]:
#standardise the data
from sklearn.preprocessing import StandardScaler
import numpy as np
import pickle

dfs = [Parkhäuser, Flugbewegungen, Gasverbrauch, Stromverbrauch, Wetterdaten, Verkehrsdaten]

# Dictionary to store the mean and standard deviation for each dataframe
scalers = {}

# Loop through each dataframe
for i, df in enumerate(dfs):
    numeric_cols = df.select_dtypes(include=[np.number])
    if not numeric_cols.empty:
        if i == 1:  # Exclude 'Hour' column for Flugbewegungen
            numeric_cols = numeric_cols.drop(columns=['Hour'])
        print(f"Processing df{i} with columns: {numeric_cols.columns}")
        scaler = StandardScaler()
        # Fit the scaler on the dataframe and transform the data
        scaled_data = scaler.fit_transform(numeric_cols)
        
        # Save the mean and standard deviation
        scalers[f'df{i}'] = {'mean': scaler.mean_, 'scale': scaler.scale_}
        
        # Replace the original data with the standardized data
        df[numeric_cols.columns] = scaled_data
        dfs[i] = df
    else:
        print(f"df{i} has no numeric columns or is empty.")

# Assign the transformed dataframes back to their original names
Parkhäuser, Flugbewegungen, Gasverbrauch, Stromverbrauch, Wetterdaten, Verkehrsdaten = dfs

# Save the scalers dictionary for later use
with open('scalers.pkl', 'wb') as f:
    pickle.dump(scalers, f)

Processing df0 with columns: Index(['Rebgassechange', 'Clarahuuschange', 'Citychange', 'Storchenchange',
       'Post Baselchange', 'Aeschenchange', 'Bahnhof Südchange',
       'Bad. Bahnhofchange', 'Europechange', 'Claramattechange',
       'Elisabethenchange', 'Steinenchange', 'Kunstmuseumchange',
       'Messechange', 'Anfoschange', 'Centralbahnparkingchange'],
      dtype='object')
Processing df1 with columns: Index(['Unnamed: 0', 'Traffic'], dtype='object')
Processing df2 with columns: Index(['Gasverbrauch'], dtype='object')
Processing df3 with columns: Index(['Stromverbrauch'], dtype='object')
Processing df4 with columns: Index(['Unnamed: 0', 'Basel Temperature [2 m elevation corrected]',
       'Basel Precipitation Total', 'Basel Wind Speed [10 m]',
       'Basel Wind Direction [10 m]'],
      dtype='object')
Processing df5 with columns: Index(['350n_sumPW', '350n_sumLief', '350n_sumLW', '350v_sumPW',
       '350v_sumLief', '350v_sumLW', '352n_sumPW', '352n_sumLief',
       '352n_sumLW', '352v_sumPW',
       ...
       '84111104n_sumLW', '84111104v_sumPW', '84111104v_sumLief',
       '84111104v_sumLW', '84111108n_sumPW', '84111108n_sumLief',
       '84111108n_sumLW', '84111108v_sumPW', '84111108v_sumLief',
       '84111108v_sumLW'],
      dtype='object', length=126)

In [32]:
print(type(Verkehrsdaten))
Wetterdaten.drop(columns=["Unnamed: 0"], inplace=True)
Flugbewegungen.drop(columns=["Unnamed: 0"], inplace=True)
Gasverbrauch.sort_values(by=["Datum"], inplace=True)

<class 'pandas.core.frame.DataFrame'>

In [33]:
# Ensure 'Datum' is in datetime format
Flugbewegungen['Datum'] = pd.to_datetime(Flugbewegungen['Datum'])

# Add the 'Hour' column as timedelta
Flugbewegungen['Datum'] = Flugbewegungen['Datum'] + pd.to_timedelta(Flugbewegungen['Hour'], unit='h')

# Display the first 25 rows
Flugbewegungen.head(25)

Flugbewegungen["Datum"].dtype

datetime64[ns, UTC]

In [34]:
                                                                                                # The merge isnt correct because it erases the Hour format and therefore setting the entire Day to one value?!
# Merge all dataframes on the 'Datum' column
final_df = Parkhäuser.merge(Wetterdaten, on='Datum', how='inner') \
                      .merge(Stromverbrauch, on='Datum', how='inner') \
                      .merge(Verkehrsdaten, on='Datum', how='inner') \
                      .merge(Gasverbrauch, on='Datum', how='inner') \
#                      .merge(Flugbewegungen, on='Datum', how='inner') \

#                      .merge(Schallmessungen, on='Datum', how='inner') \ -> too many NaN values
# Display the first few rows of the merged dataframe
final_df.head(20)

,Datum,Rebgassechange,Clarahuuschange,Citychange,Storchenchange,Post Baselchange,Aeschenchange,Bahnhof Südchange,Bad. Bahnhofchange,Europechange,...,84111104v_sumPW,84111104v_sumLief,84111104v_sumLW,84111108n_sumPW,84111108n_sumLief,84111108n_sumLW,84111108v_sumPW,84111108v_sumLief,84111108v_sumLW,Gasverbrauch
0,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.151270,...,-1.363950,1.425346,-0.124348,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494
1,2022-01-01 01:00:00+00:00,-0.489808,-0.193898,-0.043944,-0.525891,-0.191296,-0.000173,-0.000190,-0.000462,-0.000203,...,-1.363950,0.745474,-0.744920,-0.955306,-0.781539,-1.055084,-1.048762,-0.773270,-1.072471,0.357518
2,2022-01-01 02:00:00+00:00,-0.279837,-0.000213,-0.011259,-0.058515,-0.000054,-0.000173,-0.122840,-0.000462,-0.000203,...,-1.363950,0.575505,-0.744920,-0.937353,-0.571421,-1.055084,-1.057758,-0.416962,-1.072471,0.385414
3,2022-01-01 03:00:00+00:00,-0.209846,-0.000213,-0.011259,-0.350625,-0.000054,-0.000173,-0.000190,-0.000462,-0.000203,...,-1.363950,0.269563,-0.744920,-1.045068,-0.571421,-1.055084,-1.201702,-0.416962,-1.072471,0.617131
4,2022-01-01 04:00:00+00:00,-0.139856,-0.000213,0.021425,0.116751,-0.000054,-0.000173,0.245112,-0.000462,0.150864,...,-1.363950,0.575505,-0.331206,-1.063021,-0.781539,-1.055084,-1.255681,-0.654501,-1.072471,1.109860
5,2022-01-01 05:00:00+00:00,0.140106,-0.000213,0.925692,-0.233781,-0.000054,0.128787,-0.000190,0.052141,-0.000203,...,-1.363950,0.915442,-0.538063,-1.036092,-0.781539,-1.055084,-1.147723,-0.535731,-1.072471,1.670331
6,2022-01-01 06:00:00+00:00,-0.069865,0.193473,-0.022154,-0.116937,-0.000054,0.128787,-0.122840,-0.000462,-0.151270,...,-1.363950,0.201576,-0.538063,-1.161759,-0.571421,0.004582,-1.255681,-0.773270,-1.072471,1.455102
7,2022-01-01 07:00:00+00:00,0.000125,-0.193898,0.054109,-0.058515,-0.000054,-0.000173,0.122461,0.052141,-0.151270,...,-1.363950,0.337550,-0.331206,-1.089949,-0.781539,-1.055084,-1.210699,-0.773270,-1.072471,1.472270
8,2022-01-01 08:00:00+00:00,0.000125,0.193473,0.141268,-0.000093,-0.000054,-0.000173,0.613065,-0.053065,-0.151270,...,-1.363950,0.813461,-0.744920,-1.000187,-0.676480,-0.525251,-1.048762,-0.654501,-0.611608,1.555734
9,2022-01-01 09:00:00+00:00,-0.069865,1.161899,0.173952,-0.175359,0.573671,-0.000173,0.613065,0.104744,-0.151270,...,-1.356259,1.391353,-0.331206,-0.919401,-0.256244,-0.525251,-0.976790,-0.535731,-0.611608,1.401258
10,2022-01-01 10:00:00+00:00,0.070116,-0.000213,0.184847,0.175174,-0.382538,-0.000173,0.122461,-0.000462,-0.453403,...,-1.363950,2.989053,-0.331206,-0.623185,-0.571421,-0.525251,-0.688903,-0.179424,-0.611608,1.218280
11,2022-01-01 11:00:00+00:00,0.140106,-0.000213,0.010530,0.584128,-0.000054,0.773586,-1.104047,0.052141,-0.151270,...,-1.363950,3.532951,0.289366,-0.335945,-0.466362,-0.525251,-0.517969,-0.654501,-0.611608,0.941437
12,2022-01-01 12:00:00+00:00,0.140106,-0.000213,-0.098418,0.642550,0.191187,-0.387053,-0.245491,0.104744,-0.000203,...,-1.363950,4.620747,0.703080,-0.344921,-0.466362,-0.525251,0.021820,-0.179424,-0.611608,0.564071
13,2022-01-01 13:00:00+00:00,1.189963,-0.000213,0.707796,1.343615,0.191187,0.386706,0.490414,0.104744,0.301931,...,-1.363950,5.402601,0.289366,-0.075634,-0.256244,-0.525251,-0.014166,-0.416962,-0.611608,0.556991
14,2022-01-01 14:00:00+00:00,0.560049,-0.000213,-0.272734,0.408862,0.382429,0.386706,0.981017,-0.053065,-0.604470,...,-1.363950,4.246817,1.116795,0.121844,-0.466362,-0.525251,-0.032159,-0.654501,-0.611608,0.613695
15,2022-01-01 15:00:00+00:00,-0.349827,-0.000213,-0.741210,-0.818001,-0.382538,-0.000173,-0.490793,-0.158272,-0.151270,...,-1.363950,4.144837,0.909937,0.193654,-0.466362,-0.525251,-0.140117,-0.773270,-0.611608,0.796940
16,2022-01-01 16:00:00+00:00,-0.769770,-0.000213,-0.240050,-1.168534,-0.191296,-0.773932,-1.717301,-0.210875,-0.000203,...,-1.363950,3.396977,0.496223,0.247511,-0.151185,-0.525251,-0.221085,-0.654501,-0.611608,0.979351
17,2022-01-01 17:00:00+00:00,-0.629789,-0.000213,-0.185576,-0.525891,0.573671,-0.516012,0.122461,-0.000462,0.150864,...,-1.363950,2.037232,-0.124348,-0.362873,-0.466362,-0.525251,-0.347036,-0.654501,-0.611608,1.005392
18,2022-01-01 18:00:00+00:00,-0.279837,-0.000213,-0.250945,-0.409047,-0.765022,-0.000173,-0.122840,-0.000462,-0.151270,...,-1.363950,2.241193,-0.538063,-0.497517,-0.676480,-0.525251,-0.670910,-0.654501,-0.611608,1.064682
19,2022-01-01 19:00:00+00:00,0.070116,-0.000213,-0.240050,-0.525891,-0.000054,-0.000173,-0.368142,-0.000462,-0.000203,...,-1.363950,2.003238,-0.331206,-0.677042,-0.571421,-1.055084,-0.859836,-0.535731,-1.072471,1.100489

In [35]:
final_df.tail(25)

,Datum,Rebgassechange,Clarahuuschange,Citychange,Storchenchange,Post Baselchange,Aeschenchange,Bahnhof Südchange,Bad. Bahnhofchange,Europechange,...,84111104v_sumPW,84111104v_sumLief,84111104v_sumLW,84111108n_sumPW,84111108n_sumLief,84111108n_sumLW,84111108v_sumPW,84111108v_sumLief,84111108v_sumLW,Gasverbrauch
24566,2024-10-20 14:00:00+00:00,-1.399684,-0.000213,-0.621367,-1.752754,-0.000054,-0.387053,2.698128,-0.842113,0.301931,...,0.097193,-0.206348,-0.538063,0.633490,-0.781539,0.004582,0.408669,0.414423,-0.150745,-0.716121
24567,2024-10-20 15:00:00+00:00,0.070116,-0.000213,-0.752105,-1.285378,-0.000054,-0.773932,-3.066460,-0.421287,0.452998,...,0.089503,-0.002386,-0.538063,0.875848,0.374110,0.004582,0.723545,0.176884,-0.150745,-0.654515
24568,2024-10-20 16:00:00+00:00,-0.489808,-0.000213,-0.338103,-0.701157,-0.000054,-0.773932,-1.226698,-0.736906,-0.151270,...,-0.125824,-0.172354,-0.538063,0.660418,0.163992,0.004582,0.462647,-0.298193,-0.611608,-0.551452
24569,2024-10-20 17:00:00+00:00,-0.279837,-0.000213,-0.152892,-0.642735,-0.000054,-0.516012,-1.104047,-0.842113,0.150864,...,-0.148894,-0.274335,-0.951777,0.148772,0.058933,-0.525251,0.003827,-0.060654,-0.150745,-0.463764
24570,2024-10-20 18:00:00+00:00,-0.209846,-0.000213,-0.283629,-0.525891,-0.000054,-0.000173,-0.858745,-0.526494,0.301931,...,-0.610308,-0.376316,-0.951777,-0.362873,-0.571421,-1.055084,-0.104131,0.295653,-1.072471,-0.471266
24571,2024-10-20 19:00:00+00:00,-0.209846,-0.000213,-0.120207,-1.285378,-0.000054,-0.129133,0.245112,-0.368684,-0.000203,...,-0.717971,-0.206348,-0.951777,-0.703971,-0.466362,-1.055084,-0.410012,0.176884,-1.072471,-0.521984
24572,2024-10-20 20:00:00+00:00,-0.069865,-0.968639,0.032320,-1.051690,-0.000054,-0.129133,-0.981396,-0.158272,-0.000203,...,-0.910226,-0.342323,-0.951777,-0.892472,-0.676480,-1.055084,-0.949801,-0.654501,-1.072471,-0.666680
24573,2024-10-20 21:00:00+00:00,0.000125,-0.000213,-0.468840,-0.233781,-0.000054,-0.000173,-0.245491,-0.000462,-0.151270,...,-1.117862,-0.410310,-0.951777,-1.045068,-0.781539,-1.055084,-1.183709,-0.535731,-1.072471,-0.789995
24574,2024-10-20 22:00:00+00:00,0.000125,-0.000213,-0.283629,-0.000093,-0.000054,-0.000173,-0.000190,-0.053065,-0.000203,...,-1.233216,-0.376316,-0.951777,-1.116878,-0.466362,-1.055084,-1.282671,-0.654501,-0.611608,-0.824848
24575,2024-10-20 23:00:00+00:00,0.000125,-0.000213,-0.000365,-0.000093,-0.000054,-0.000173,0.122461,-0.000462,-0.000203,...,-1.225525,-0.410310,-0.951777,-1.233569,-0.781539,-1.055084,-1.363639,-0.773270,-1.072471,-0.833042
24576,2024-10-21 00:00:00+00:00,0.000125,-0.000213,-0.011259,-0.058515,-0.000054,-0.000173,-0.000190,-0.000462,-0.000203,...,-1.225525,-0.376316,-0.951777,-1.251522,-0.781539,-1.055084,-1.381632,-0.773270,-1.072471,-0.789290
24577,2024-10-21 01:00:00+00:00,-0.069865,-0.000213,-0.011259,-0.000093,-0.000054,-0.000173,-0.122840,-0.000462,-0.000203,...,-1.302428,-0.376316,-0.951777,-1.251522,-0.676480,-1.055084,-1.309660,-0.654501,-1.072471,-0.769077
24578,2024-10-21 02:00:00+00:00,0.000125,-0.000213,0.032320,-0.000093,-0.000054,-0.000173,0.122461,0.104744,-0.000203,...,-1.048650,-0.376316,-0.744920,-1.224593,-0.781539,-0.525251,-1.237688,-0.535731,-0.611608,-0.607087
24579,2024-10-21 03:00:00+00:00,0.000125,0.968214,0.304689,0.116751,-0.000054,0.128787,0.490414,0.209951,-0.000203,...,-0.295008,-0.240342,-0.744920,-1.071997,-0.781539,1.064248,-0.697899,-0.179424,0.310118,-0.259082
24580,2024-10-21 04:00:00+00:00,0.350078,-0.000213,2.276645,0.058329,-0.000054,0.257747,0.735715,0.630776,-0.000203,...,1.173824,0.473525,0.909937,-0.739876,-0.466362,-0.525251,0.723545,2.671039,1.692707,0.031684
24581,2024-10-21 05:00:00+00:00,0.910001,0.968214,2.516330,0.642550,-0.000054,0.386706,2.698128,1.314617,0.755132,...,1.043090,0.371544,7.529367,-0.012800,0.479169,2.123914,0.876486,1.008269,2.614433,-0.011162
24582,2024-10-21 06:00:00+00:00,1.329944,0.968214,2.211276,2.044679,-0.000054,1.547345,1.839573,0.893792,1.057265,...,1.196895,0.167582,2.771652,0.337274,0.689288,1.064248,0.147770,1.839654,1.692707,0.067878
24583,2024-10-21 07:00:00+00:00,1.329944,1.355585,1.437747,1.694147,0.764913,1.934225,2.084874,1.419823,1.510466,...,0.504775,-0.036380,1.530509,0.579632,0.269051,0.534415,0.192753,0.770731,0.770981,0.067466
24584,2024-10-21 08:00:00+00:00,0.700030,-0.000213,0.326479,1.752569,2.103605,0.773586,0.122461,-0.000462,0.150864,...,0.566297,0.201576,0.703080,0.696323,0.689288,0.004582,0.399672,0.414423,1.231844,0.019593
24585,2024-10-21 09:00:00+00:00,0.210097,-0.000213,-0.207365,0.350440,-0.000054,1.160465,0.367763,0.525569,-0.604470,...,-0.248867,-0.376316,-0.124348,0.642466,0.584229,0.004582,0.777524,0.058115,0.770981,-0.332598
24586,2024-10-21 10:00:00+00:00,0.630039,-0.000213,-0.098418,-0.116937,0.956154,0.773586,-0.613444,0.367760,-0.151270,...,0.266378,0.065601,1.323652,0.741205,0.374110,0.534415,0.426661,0.058115,1.692707,-0.493839
24587,2024-10-21 11:00:00+00:00,-0.279837,-0.000213,0.348268,1.109926,-0.956263,-0.387053,0.122461,-0.105668,0.755132,...,0.666270,-0.070374,1.530509,0.723252,0.479169,2.653747,0.525623,0.295653,0.770981,-0.607484
24588,2024-10-21 12:00:00+00:00,0.210097,-0.000213,0.282900,-0.876424,-0.000054,-1.934571,-0.000190,0.104744,0.452998,...,0.827764,0.031607,2.771652,0.777110,-0.466362,0.534415,0.795517,-0.179424,0.310118,-0.652948
24589,2024-10-21 13:00:00+00:00,-1.119722,-0.000213,-0.163786,-0.292203,-1.147505,-0.000173,-0.490793,-0.105668,-0.604470,...,0.943118,-0.002386,2.357938,0.938682,1.739878,1.594081,0.723545,-0.179424,1.231844,-0.706723
24590,2024-10-21 14:00:00+00:00,0.000125,-0.000213,-0.000365,-0.000093,-0.000054,-0.000173,-0.000190,-0.000462,-0.000203,...,1.073851,0.099595,0.909937,1.593948,3.315764,1.064248,0.885482,0.533192,1.231844,-0.691673

In [36]:
test_dataFrame = [Parkhäuser,
                Wetterdaten,
                Flugbewegungen,
                Gasverbrauch,
                Stromverbrauch,
                Verkehrsdaten]

for i in test_dataFrame:
    print(i['Datum'].max())

2024-10-21 14:00:00+00:00
2024-11-22 23:00:00+00:00
2024-11-22 23:00:00+00:00
2024-11-24 04:00:00+00:00
2024-11-20 22:00:00+00:00
2024-11-19 22:00:00+00:00

# Check for rows with NaN values
nan_rows = final_df[final_df.isnull().any(axis=1)]

# Display the rows with NaN values
nan_rows.head()

In [37]:
type(final_df[["Datum"]])

pandas.core.frame.DataFrame

In [38]:
final_df.to_csv("../Working_DataFrame.csv", index=False)


#final_df.tail(40)
final_df['Datum'].dtype
import numpy as np

cutoff = np.datetime64('2024-11-20 10:00:00')
final_df = final_df[final_df['Datum'] <= cutoff]
final_df.tail(40)

In [39]:
Flugbewegungen.head()

                      Datum  Hour   Traffic   Weekday
0 2022-01-01 00:00:00+00:00     0 -1.142151  Saturday
1 2022-01-01 01:00:00+00:00     1 -1.295479  Saturday
2 2022-01-01 02:00:00+00:00     2 -1.295479  Saturday
3 2022-01-01 03:00:00+00:00     3 -1.295479  Saturday
4 2022-01-01 04:00:00+00:00     4 -1.295479  Saturday

In [40]:

Stromverbrauch["Datum"].dtype
Wetterdaten["Datum"].dtype
Gasverbrauch["Datum"].dtype

Flugbewegungen["Datum"] = Flugbewegungen["Datum"].astype(str)
Flugbewegungen["Datum"].dtype

dtype('O')

In [41]:
#DF NN
DF_NN = Gasverbrauch.merge(Stromverbrauch, on='Datum', how='left') \
                      .merge(Wetterdaten, on='Datum', how='left') \
                      .merge(Flugbewegungen, on='Datum', how='left')

In [42]:
DF_NN.head()

# Convert the date column to datetime format
DF_NN['Datum'] = pd.to_datetime(DF_NN['Datum'])

# Filter the dataframe to keep only dates before the specified date and time
DF_NN = DF_NN[DF_NN['Datum'] <= '2024-10-27 13:00']
DF_NN.head()

,Gasverbrauch,Datum,Stromverbrauch,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m],Hour,Traffic,Weekday
0,0.294494,2022-01-01 00:00:00+00:00,-1.116259,-0.926467,-0.314805,-0.694066,0.115891,0.0,-1.142151,Saturday
1,0.357518,2022-01-01 01:00:00+00:00,-1.368317,-1.041967,-0.314805,-0.918024,0.047361,1.0,-1.295479,Saturday
2,0.385414,2022-01-01 02:00:00+00:00,-1.523703,-1.162435,-0.314805,-0.857675,-0.143112,2.0,-1.295479,Saturday
3,0.617131,2022-01-01 03:00:00+00:00,-1.546518,-1.135112,-0.314805,-0.831118,-0.006355,3.0,-1.295479,Saturday
4,1.109860,2022-01-01 04:00:00+00:00,-1.432685,-1.163677,-0.314805,-0.687750,-0.148316,4.0,-1.295479,Saturday

Create a Dataframe only for the first year, to test if the computer can handle it

In [43]:
DF_NN_Year = DF_NN.copy()
DF_NN_Year = DF_NN_Year[DF_NN_Year['Datum'] <= '2022-12-31 23:00']
DF_NN_Year.drop(columns=["Hour"], inplace=True)
DF_NN_Year.to_csv("./DF_NN_Year.csv", index=False)

In [44]:
Final_Target = pd.read_csv("../Final_Data/Cleaned/Final_Target_Data_Combined_resid_Trend.csv")
Final_Target = Final_Target[Final_Target['Datum'] <= '2022-12-31 23:00']
#Final_Target.drop(columns=["Datum"], inplace=True)
Final_Target.to_csv("./Final_Target_NN_Year.csv", index=False)

In [45]:

DF_NN.drop(columns=["Datum", "Hour"], inplace=True)

DF_NN.to_csv("./Working_DataFrame_NN.csv", index=False)

In [46]:
#2 NaN in Stromverbrauch 2022-10-30 01:00:00 & 2023-10-29 01:00:00

# Verkehrsdatenset hat 5 NaN values 2024-10-20 22:00:00 & 2024-10-20 23:00:00 & 2024-10-21 00:00:00 & 2024-10-21 01:00:00 & 2024-10-21 02:00:00	

# Wetter hat 5 NaN values 2023-12-22 00:00:00 & 2023-12-22 01:00:00 & 2023-12-22 02:00:00 & 2023-12-22 03:00:00 & 2023-12-22 04:00:00
# habe nochmal nachgeschaut und es ist der ganze 22 und 23 Dezember 2023 || ist aber nur eine Auflösung die ich ausgewählt habe, sollte mit der anderen Auflösung nicht mehr vorkommen

In [47]:
final_df.head()

,Datum,Rebgassechange,Clarahuuschange,Citychange,Storchenchange,Post Baselchange,Aeschenchange,Bahnhof Südchange,Bad. Bahnhofchange,Europechange,...,84111104v_sumPW,84111104v_sumLief,84111104v_sumLW,84111108n_sumPW,84111108n_sumLief,84111108n_sumLW,84111108v_sumPW,84111108v_sumLief,84111108v_sumLW,Gasverbrauch
0,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.151270,...,-1.36395,1.425346,-0.124348,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494
1,2022-01-01 01:00:00+00:00,-0.489808,-0.193898,-0.043944,-0.525891,-0.191296,-0.000173,-0.000190,-0.000462,-0.000203,...,-1.36395,0.745474,-0.744920,-0.955306,-0.781539,-1.055084,-1.048762,-0.773270,-1.072471,0.357518
2,2022-01-01 02:00:00+00:00,-0.279837,-0.000213,-0.011259,-0.058515,-0.000054,-0.000173,-0.122840,-0.000462,-0.000203,...,-1.36395,0.575505,-0.744920,-0.937353,-0.571421,-1.055084,-1.057758,-0.416962,-1.072471,0.385414
3,2022-01-01 03:00:00+00:00,-0.209846,-0.000213,-0.011259,-0.350625,-0.000054,-0.000173,-0.000190,-0.000462,-0.000203,...,-1.36395,0.269563,-0.744920,-1.045068,-0.571421,-1.055084,-1.201702,-0.416962,-1.072471,0.617131
4,2022-01-01 04:00:00+00:00,-0.139856,-0.000213,0.021425,0.116751,-0.000054,-0.000173,0.245112,-0.000462,0.150864,...,-1.36395,0.575505,-0.331206,-1.063021,-0.781539,-1.055084,-1.255681,-0.654501,-1.072471,1.109860

In [48]:
import pandas as pd
df = final_df.copy()
# Ensure 'Datum' is a datetime object
df['Datum'] = pd.to_datetime(df['Datum'])

# Create a complete range of hourly timestamps from the first to the last point
full_range = pd.date_range(start=df['Datum'].min(), end=df['Datum'].max(), freq='h')

# Identify missing timestamps
missing_timestamps = full_range.difference(df['Datum'])

# Display the results
if missing_timestamps.empty:
    print("No missing hourly timestamps. All hours are accounted for.")
else:
    print("Missing hourly timestamps:")
    print(missing_timestamps)

No missing hourly timestamps. All hours are accounted for.