In [94]:
import pandas as pd
import numpy as np

In [95]:
Parkhäuser = pd.read_csv("../Final_Data/Cleaned/1000014cleaned.csv")
Flugbewegungen = pd.read_csv("../Final_Data/Cleaned/Airport_traffic_hourly_cleaned.csv")
Gasverbrauch = pd.read_csv("../Final_Data/Cleaned/Gasverbrauch_cleaned.csv")
#Schallmessungen = pd.read_csv("../Final_Data/Cleaned/Schallmessungen_cleaned.csv", sep=";") -> zu viele Datenpunkte fehlen
Stromverbrauch = pd.read_csv("../Final_Data/Cleaned/Stromverbrauch_Basel_hourly_cleaned.csv")
Wetterdaten = pd.read_csv("../Final_Data/Cleaned/Wetterdaten_Basel_cleaned22_24.csv")
Verkehrsdaten = pd.read_csv("../Final_Data/Cleaned/1000006cleaned.csv")

In [96]:

Parkhäuser.rename(columns={"RoundedTime": "Datum"}, inplace=True)
Parkhäuser.head()
#Flugbewegungen.drop(columns=["Unnamed: 0"], inplace=True)
Flugbewegungen.head()
#Gasverbrauch.head()
#Schallmessungen.drop(columns=["Unnamed: 0"], inplace=True)
#Schallmessungen.head()
#Stromverbrauch.drop(columns=["Unnamed: 0"], inplace=True)
#Stromverbrauch.head()
#Wetterdaten.head()
#Verkehrsdaten.rename(columns={"DateTimeFrom": "Datum"}, inplace=True)
#Verkehrsdaten.head()

   Unnamed: 0                      Datum  Hour  Traffic   Weekday
0           0  2022-01-01 00:00:00+00:00     0      1.0  Saturday
1           1  2022-01-01 00:00:00+00:00     1      0.0  Saturday
2           2  2022-01-01 00:00:00+00:00     2      0.0  Saturday
3           3  2022-01-01 00:00:00+00:00     3      0.0  Saturday
4           4  2022-01-01 00:00:00+00:00     4      0.0  Saturday

In [97]:
Parkhäuser.head()

,Datum,Rebgassechange,Clarahuuschange,Citychange,Storchenchange,Post Baselchange,Aeschenchange,Bahnhof Südchange,Bad. Bahnhofchange,Europechange,Claramattechange,Elisabethenchange,Steinenchange,Kunstmuseumchange,Messechange,Anfoschange,Centralbahnparkingchange
0,2022-01-01 00:00:00+00:00,-7.0,-6.0,-15.0,-19.0,0.0,-2.0,-2.0,-3.0,-1.0,-23.0,-5.0,-10.0,-4.0,-7.0,0.0,-2.0
1,2022-01-01 01:00:00+00:00,-7.0,-1.0,-4.0,-9.0,-1.0,0.0,0.0,0.0,0.0,0.0,-9.0,-19.0,0.0,-8.0,-1.0,-1.0
2,2022-01-01 02:00:00+00:00,-4.0,0.0,-1.0,-1.0,0.0,0.0,-1.0,0.0,0.0,0.0,-12.0,-23.0,0.0,-8.0,0.0,0.0
3,2022-01-01 03:00:00+00:00,-3.0,0.0,-1.0,-6.0,0.0,0.0,0.0,0.0,0.0,0.0,-15.0,-10.0,0.0,-2.0,0.0,0.0
4,2022-01-01 04:00:00+00:00,-2.0,0.0,2.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,-1.0,-7.0,0.0,-2.0,0.0,1.0

In [98]:
Flugbewegungen.head()

   Unnamed: 0                      Datum  Hour  Traffic   Weekday
0           0  2022-01-01 00:00:00+00:00     0      1.0  Saturday
1           1  2022-01-01 00:00:00+00:00     1      0.0  Saturday
2           2  2022-01-01 00:00:00+00:00     2      0.0  Saturday
3           3  2022-01-01 00:00:00+00:00     3      0.0  Saturday
4           4  2022-01-01 00:00:00+00:00     4      0.0  Saturday

In [99]:
Verkehrsdaten = Verkehrsdaten.rename(columns={"DateTimeFrom": "Datum"})
print(Verkehrsdaten['Datum'].isna().sum())

0

In [100]:
#standardise the data
from sklearn.preprocessing import StandardScaler
import numpy as np
import pickle

dfs = [Parkhäuser, Flugbewegungen, Gasverbrauch, Stromverbrauch, Wetterdaten, Verkehrsdaten]

# Dictionary to store the mean and standard deviation for each dataframe
scalers = {}

# Loop through each dataframe
for i, df in enumerate(dfs):
    numeric_cols = df.select_dtypes(include=[np.number])
    if not numeric_cols.empty:
        if i == 1:  # Exclude 'Hour' column for Flugbewegungen
            numeric_cols = numeric_cols.drop(columns=['Hour'])
        print(f"Processing df{i} with columns: {numeric_cols.columns}")
        scaler = StandardScaler()
        # Fit the scaler on the dataframe and transform the data
        scaled_data = scaler.fit_transform(numeric_cols)
        
        # Save the mean and standard deviation
        scalers[f'df{i}'] = {'mean': scaler.mean_, 'scale': scaler.scale_}
        
        # Replace the original data with the standardized data
        df[numeric_cols.columns] = scaled_data
        dfs[i] = df
    else:
        print(f"df{i} has no numeric columns or is empty.")

# Assign the transformed dataframes back to their original names
Parkhäuser, Flugbewegungen, Gasverbrauch, Stromverbrauch, Wetterdaten, Verkehrsdaten = dfs

# Save the scalers dictionary for later use
with open('scalers.pkl', 'wb') as f:
    pickle.dump(scalers, f)

Processing df0 with columns: Index(['Rebgassechange', 'Clarahuuschange', 'Citychange', 'Storchenchange',
       'Post Baselchange', 'Aeschenchange', 'Bahnhof Südchange',
       'Bad. Bahnhofchange', 'Europechange', 'Claramattechange',
       'Elisabethenchange', 'Steinenchange', 'Kunstmuseumchange',
       'Messechange', 'Anfoschange', 'Centralbahnparkingchange'],
      dtype='object')
Processing df1 with columns: Index(['Unnamed: 0', 'Traffic'], dtype='object')
Processing df2 with columns: Index(['Gasverbrauch'], dtype='object')
Processing df3 with columns: Index(['Stromverbrauch'], dtype='object')
Processing df4 with columns: Index(['Unnamed: 0', 'Basel Temperature [2 m elevation corrected]',
       'Basel Precipitation Total', 'Basel Wind Speed [10 m]',
       'Basel Wind Direction [10 m]'],
      dtype='object')
Processing df5 with columns: Index(['350n_sumPW', '350n_sumLief', '350n_sumLW', '350v_sumPW',
       '350v_sumLief', '350v_sumLW', '352n_sumPW', '352n_sumLief',
       '352n_sumLW', '352v_sumPW',
       ...
       '84111104n_sumLW', '84111104v_sumPW', '84111104v_sumLief',
       '84111104v_sumLW', '84111108n_sumPW', '84111108n_sumLief',
       '84111108n_sumLW', '84111108v_sumPW', '84111108v_sumLief',
       '84111108v_sumLW'],
      dtype='object', length=126)

In [101]:
print(type(Verkehrsdaten))
Wetterdaten.drop(columns=["Unnamed: 0"], inplace=True)
Flugbewegungen.drop(columns=["Unnamed: 0"], inplace=True)
Gasverbrauch.sort_values(by=["Datum"], inplace=True)

<class 'pandas.core.frame.DataFrame'>

In [102]:

Flugbewegungen["Datum"].dtype
Wetterdaten["Datum"].dtype

dtype('O')

In [103]:
                                                                                                # The merge isnt correct because it erases the Hour format and therefore setting the entire Day to one value?!
# Merge all dataframes on the 'Datum' column
final_df = Parkhäuser.merge(Wetterdaten, on='Datum', how='inner') \
                      .merge(Stromverbrauch, on='Datum', how='inner') \
                      .merge(Verkehrsdaten, on='Datum', how='inner') \
                      .merge(Gasverbrauch, on='Datum', how='inner') \
                      .merge(Flugbewegungen, on='Datum', how='inner') \

#                      .merge(Schallmessungen, on='Datum', how='inner') \ -> too many NaN values
# Display the first few rows of the merged dataframe
final_df.head(20)

,Datum,Rebgassechange,Clarahuuschange,Citychange,Storchenchange,Post Baselchange,Aeschenchange,Bahnhof Südchange,Bad. Bahnhofchange,Europechange,...,84111108n_sumPW,84111108n_sumLief,84111108n_sumLW,84111108v_sumPW,84111108v_sumLief,84111108v_sumLW,Gasverbrauch,Hour,Traffic,Weekday
0,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,0,-1.142151,Saturday
1,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,1,-1.295479,Saturday
2,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,2,-1.295479,Saturday
3,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,3,-1.295479,Saturday
4,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,4,-1.295479,Saturday
5,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,5,-1.295479,Saturday
6,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,6,-0.682167,Saturday
7,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,7,-0.222182,Saturday
8,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,8,-0.835495,Saturday
9,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,9,-0.528839,Saturday
10,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,10,0.237802,Saturday
11,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,11,0.544459,Saturday
12,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,12,0.237802,Saturday
13,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,13,1.617756,Saturday
14,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,14,1.157771,Saturday
15,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,15,1.311099,Saturday
16,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,16,0.544459,Saturday
17,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,17,0.237802,Saturday
18,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,18,-0.988823,Saturday
19,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,19,-0.375510,Saturday

In [104]:
print(final_df.tail(25))

                           Datum  Rebgassechange  Clarahuuschange  Citychange  \
24575  2024-10-20 00:00:00+00:00       -0.139856        -0.000213   -0.076628
24576  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24577  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24578  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24579  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24580  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24581  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24582  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24583  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24584  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24585  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24586  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24587  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24588  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24589  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24590  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24591  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24592  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24593  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24594  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24595  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24596  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24597  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24598  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259
24599  2024-10-21 00:00:00+00:00        0.000125        -0.000213   -0.011259

       Storchenchange  Post Baselchange  Aeschenchange  Bahnhof Südchange  \
24575       -0.467469         -0.000054      -0.129133           -0.00019
24576       -0.058515         -0.000054      -0.000173           -0.00019
24577       -0.058515         -0.000054      -0.000173           -0.00019
24578       -0.058515         -0.000054      -0.000173           -0.00019
24579       -0.058515         -0.000054      -0.000173           -0.00019
24580       -0.058515         -0.000054      -0.000173           -0.00019
24581       -0.058515         -0.000054      -0.000173           -0.00019
24582       -0.058515         -0.000054      -0.000173           -0.00019
24583       -0.058515         -0.000054      -0.000173           -0.00019
24584       -0.058515         -0.000054      -0.000173           -0.00019
24585       -0.058515         -0.000054      -0.000173           -0.00019
24586       -0.058515         -0.000054      -0.000173           -0.00019
24587       -0.058515         -0.000054      -0.000173           -0.00019
24588       -0.058515         -0.000054      -0.000173           -0.00019
24589       -0.058515         -0.000054      -0.000173           -0.00019
24590       -0.058515         -0.000054      -0.000173           -0.00019
24591       -0.058515         -0.000054      -0.000173           -0.00019
24592       -0.058515         -0.000054      -0.000173           -0.00019
24593       -0.058515         -0.000054      -0.000173           -0.00019
24594       -0.058515         -0.000054      -0.000173           -0.00019
24595       -0.058515         -0.000054      -0.000173           -0.00019
24596       -0.058515         -0.000054      -0.000173           -0.00019
24597       -0.058515         -0.000054      -0.000173           -0.00019
24598       -0.058515         -0.000054      -0.000173           -0.00019
24599       -0.058515         -0.000054      -0.000173           -0.00019

       Bad. Bahnhofchange  Europechange  ...  84111108n_sumPW  \
24575           -0.000462     -0.000203  ...        -1.089949
24576           -0.000462     -0.000203  ...        -1.251522
24577           -0.000462     -0.000203  ...        -1.251522
24578           -0.000462     -0.000203  ...        -1.251522
24579           -0.000462     -0.000203  ...        -1.251522
24580           -0.000462     -0.000203  ...        -1.251522
24581           -0.000462     -0.000203  ...        -1.251522
24582           -0.000462     -0.000203  ...        -1.251522
24583           -0.000462     -0.000203  ...        -1.251522
24584           -0.000462     -0.000203  ...        -1.251522
24585           -0.000462     -0.000203  ...        -1.251522
24586           -0.000462     -0.000203  ...        -1.251522
24587           -0.000462     -0.000203  ...        -1.251522
24588           -0.000462     -0.000203  ...        -1.251522
24589           -0.000462     -0.000203  ...        -1.251522
24590           -0.000462     -0.000203  ...        -1.251522
24591           -0.000462     -0.000203  ...        -1.251522
24592           -0.000462     -0.000203  ...        -1.251522
24593           -0.000462     -0.000203  ...        -1.251522
24594           -0.000462     -0.000203  ...        -1.251522
24595           -0.000462     -0.000203  ...        -1.251522
24596           -0.000462     -0.000203  ...        -1.251522
24597           -0.000462     -0.000203  ...        -1.251522
24598           -0.000462     -0.000203  ...        -1.251522
24599           -0.000462     -0.000203  ...        -1.251522

       84111108n_sumLief  84111108n_sumLW  84111108v_sumPW  84111108v_sumLief  \
24575          -0.781539        -1.055084        -1.219695           -0.77327
24576          -0.781539        -1.055084        -1.381632           -0.77327
24577          -0.781539        -1.055084        -1.381632           -0.77327
24578          -0.781539        -1.055084        -1.381632           -0.77327
24579          -0.781539        -1.055084        -1.381632           -0.77327
24580          -0.781539        -1.055084        -1.381632           -0.77327
24581          -0.781539        -1.055084        -1.381632           -0.77327
24582          -0.781539        -1.055084        -1.381632           -0.77327
24583          -0.781539        -1.055084        -1.381632           -0.77327
24584          -0.781539        -1.055084        -1.381632           -0.77327
24585          -0.781539        -1.055084        -1.381632           -0.77327
24586          -0.781539        -1.055084        -1.381632           -0.77327
24587          -0.781539        -1.055084        -1.381632           -0.77327
24588          -0.781539        -1.055084        -1.381632           -0.77327
24589          -0.781539        -1.055084        -1.381632           -0.77327
24590          -0.781539        -1.055084        -1.381632           -0.77327
24591          -0.781539        -1.055084        -1.381632           -0.77327
24592          -0.781539        -1.055084        -1.381632           -0.77327
24593          -0.781539        -1.055084        -1.381632           -0.77327
24594          -0.781539        -1.055084        -1.381632           -0.77327
24595          -0.781539        -1.055084        -1.381632           -0.77327
24596          -0.781539        -1.055084        -1.381632           -0.77327
24597          -0.781539        -1.055084        -1.381632           -0.77327
24598          -0.781539        -1.055084        -1.381632           -0.77327
24599          -0.781539        -1.055084        -1.381632           -0.77327

       84111108v_sumLW  Gasverbrauch  Hour   Traffic  Weekday
24575        -1.072471     -0.773537    23  0.237802   Sunday
24576        -1.072471     -0.789290     0 -1.295479   Monday
24577        -1.072471     -0.789290     1 -1.295479   Monday
24578        -1.072471     -0.789290     2 -1.295479   Monday
24579        -1.072471     -0.789290     3 -1.295479   Monday
24580        -1.072471     -0.789290     4 -1.295479   Monday
24581        -1.072471     -0.789290     5 -0.835495   Monday
24582        -1.072471     -0.789290     6  0.697787   Monday
24583        -1.072471     -0.789290     7 -0.528839   Monday
24584        -1.072471     -0.789290     8  0.237802   Monday
24585        -1.072471     -0.789290     9  2.384397   Monday
24586        -1.072471     -0.789290    10  1.924412   Monday
24587        -1.072471     -0.789290    11  2.384397   Monday
24588        -1.072471     -0.789290    12  1.311099   Monday
24589        -1.072471     -0.789290    13  2.537725   Monday
24590        -1.072471     -0.789290    14  1.157771   Monday
24591        -1.072471     -0.789290    15  1.924412   Monday
24592        -1.072471     -0.789290    16  0.697787   Monday
24593        -1.072471     -0.789290    17  1.464428   Monday
24594        -1.072471     -0.789290    18  2.077740   Monday
24595        -1.072471     -0.789290    19  1.311099   Monday
24596        -1.072471     -0.789290    20  0.544459   Monday
24597        -1.072471     -0.789290    21  0.544459   Monday
24598        -1.072471     -0.789290    22  1.004443   Monday
24599        -1.072471     -0.789290    23 -0.068854   Monday

[25 rows x 152 columns]

In [105]:
test_dataFrame = [Parkhäuser,
                Wetterdaten,
                Flugbewegungen,
                Gasverbrauch,
                Stromverbrauch,
                Verkehrsdaten]

for i in test_dataFrame:
    print(i['Datum'].max())

2024-10-21 14:00:00+00:00
2024-11-22 23:00:00+00:00
2024-11-22 00:00:00+00:00
2024-11-24 04:00:00+00:00
2024-11-20 22:00:00+00:00
2024-11-19 22:00:00+00:00

# Check for rows with NaN values
nan_rows = final_df[final_df.isnull().any(axis=1)]

# Display the rows with NaN values
nan_rows.head()

In [106]:
type(final_df[["Datum"]])

pandas.core.frame.DataFrame

In [107]:
final_df.drop(columns=["Weekday"], inplace=True)

In [108]:
final_df.to_csv("../Working_DataFrame.csv", index=False)


#final_df.tail(40)
final_df['Datum'].dtype
import numpy as np

cutoff = np.datetime64('2024-11-20 10:00:00')
final_df = final_df[final_df['Datum'] <= cutoff]
final_df.tail(40)

In [109]:
Flugbewegungen.head()

                       Datum  Hour   Traffic   Weekday
0  2022-01-01 00:00:00+00:00     0 -1.142151  Saturday
1  2022-01-01 00:00:00+00:00     1 -1.295479  Saturday
2  2022-01-01 00:00:00+00:00     2 -1.295479  Saturday
3  2022-01-01 00:00:00+00:00     3 -1.295479  Saturday
4  2022-01-01 00:00:00+00:00     4 -1.295479  Saturday

In [110]:

Stromverbrauch["Datum"].dtype
Wetterdaten["Datum"].dtype
Gasverbrauch["Datum"].dtype

Flugbewegungen["Datum"] = Flugbewegungen["Datum"].astype(str)
Flugbewegungen["Datum"].dtype

dtype('O')

In [111]:
#DF NN
DF_NN = Gasverbrauch.merge(Stromverbrauch, on='Datum', how='left') \
                      .merge(Wetterdaten, on='Datum', how='left') \
                      .merge(Flugbewegungen, on='Datum', how='left')

In [112]:
DF_NN.head()

# Convert the date column to datetime format
DF_NN['Datum'] = pd.to_datetime(DF_NN['Datum'])

# Filter the dataframe to keep only dates before the specified date and time
DF_NN = DF_NN[DF_NN['Datum'] <= '2024-10-27 13:00']
DF_NN.head()

,Gasverbrauch,Datum,Stromverbrauch,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m],Hour,Traffic,Weekday
0,0.294494,2022-01-01 00:00:00+00:00,-1.116259,-0.926467,-0.314805,-0.694066,0.115891,0.0,-1.142151,Saturday
1,0.294494,2022-01-01 00:00:00+00:00,-1.116259,-0.926467,-0.314805,-0.694066,0.115891,1.0,-1.295479,Saturday
2,0.294494,2022-01-01 00:00:00+00:00,-1.116259,-0.926467,-0.314805,-0.694066,0.115891,2.0,-1.295479,Saturday
3,0.294494,2022-01-01 00:00:00+00:00,-1.116259,-0.926467,-0.314805,-0.694066,0.115891,3.0,-1.295479,Saturday
4,0.294494,2022-01-01 00:00:00+00:00,-1.116259,-0.926467,-0.314805,-0.694066,0.115891,4.0,-1.295479,Saturday

In [113]:

DF_NN.drop(columns=["Datum", "Hour"], inplace=True)

DF_NN.to_csv("./Working_DataFrame_NN.csv", index=False)

In [114]:
#2 NaN in Stromverbrauch 2022-10-30 01:00:00 & 2023-10-29 01:00:00

# Verkehrsdatenset hat 5 NaN values 2024-10-20 22:00:00 & 2024-10-20 23:00:00 & 2024-10-21 00:00:00 & 2024-10-21 01:00:00 & 2024-10-21 02:00:00	

# Wetter hat 5 NaN values 2023-12-22 00:00:00 & 2023-12-22 01:00:00 & 2023-12-22 02:00:00 & 2023-12-22 03:00:00 & 2023-12-22 04:00:00
# habe nochmal nachgeschaut und es ist der ganze 22 und 23 Dezember 2023 || ist aber nur eine Auflösung die ich ausgewählt habe, sollte mit der anderen Auflösung nicht mehr vorkommen

In [115]:
final_df.head()

,Datum,Rebgassechange,Clarahuuschange,Citychange,Storchenchange,Post Baselchange,Aeschenchange,Bahnhof Südchange,Bad. Bahnhofchange,Europechange,...,84111104v_sumLW,84111108n_sumPW,84111108n_sumLief,84111108n_sumLW,84111108v_sumPW,84111108v_sumLief,84111108v_sumLW,Gasverbrauch,Hour,Traffic
0,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.124348,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,0,-1.142151
1,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.124348,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,1,-1.295479
2,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.124348,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,2,-1.295479
3,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.124348,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,3,-1.295479
4,2022-01-01 00:00:00+00:00,-0.489808,-1.162325,-0.163786,-1.110112,-0.000054,-0.258093,-0.245491,-0.158272,-0.15127,...,-0.124348,-0.686018,-0.571421,-1.055084,-0.814853,-0.416962,-1.072471,0.294494,4,-1.295479

In [116]:
import pandas as pd
df = final_df.copy()
# Ensure 'Datum' is a datetime object
df['Datum'] = pd.to_datetime(df['Datum'])

# Create a complete range of hourly timestamps from the first to the last point
full_range = pd.date_range(start=df['Datum'].min(), end=df['Datum'].max(), freq='h')

# Identify missing timestamps
missing_timestamps = full_range.difference(df['Datum'])

# Display the results
if missing_timestamps.empty:
    print("No missing hourly timestamps. All hours are accounted for.")
else:
    print("Missing hourly timestamps:")
    print(missing_timestamps)

Missing hourly timestamps:
DatetimeIndex(['2022-01-01 01:00:00+00:00', '2022-01-01 02:00:00+00:00',
               '2022-01-01 03:00:00+00:00', '2022-01-01 04:00:00+00:00',
               '2022-01-01 05:00:00+00:00', '2022-01-01 06:00:00+00:00',
               '2022-01-01 07:00:00+00:00', '2022-01-01 08:00:00+00:00',
               '2022-01-01 09:00:00+00:00', '2022-01-01 10:00:00+00:00',
               ...
               '2024-10-20 14:00:00+00:00', '2024-10-20 15:00:00+00:00',
               '2024-10-20 16:00:00+00:00', '2024-10-20 17:00:00+00:00',
               '2024-10-20 18:00:00+00:00', '2024-10-20 19:00:00+00:00',
               '2024-10-20 20:00:00+00:00', '2024-10-20 21:00:00+00:00',
               '2024-10-20 22:00:00+00:00', '2024-10-20 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=23552, freq=None)