In [1]:
import pandas as pd

df0 = pd.read_csv('10Targcleaned.csv')
df1 = pd.read_csv('1000014cleaned.csv')
df2 = pd.read_csv('1000048cleaned.csv')
df3 = pd.read_csv('1000050cleaned.csv')
df4 = pd.read_csv('1000051cleaned.csv')
df5 = pd.read_csv('10Flugbewegungencleaned.csv', delimiter=';')
df6 = pd.read_csv('Gasverbrauch_cleaned.csv')
df7 = pd.read_csv('merged_df.csv')
df8 = pd.read_csv('Schallmessungen_cleaned.csv')
df9 = pd.read_csv('Stromverbrauch_Basel_hourly_cleaned.csv')
df11 = pd.read_csv('Wetterdaten_Basel_cleanded22_24.csv')

In [2]:
# Check the columns of df0
print(df0.columns)

# If the column name is different, use the correct column name
# Assuming the correct column name is 'Date/Time'
df0['Datum'] = pd.to_datetime(df0['Datum']) + pd.DateOffset(hours=-2)
df0

Index(['Datum', 'PM10 (Stundenmittelwerte)', 'PM2.5 (Stundenmittelwerte)'], dtype='object')

,Datum,PM10 (Stundenmittelwerte),PM2.5 (Stundenmittelwerte)
0,2021-12-31 22:00:00,83.840,71.870
1,2021-12-31 23:00:00,91.973,78.909
2,2022-01-01 00:00:00,68.396,58.632
3,2022-01-01 01:00:00,49.625,42.563
4,2022-01-01 02:00:00,41.854,35.799
...,...,...,...
25354,2024-11-22 08:00:00,9.305,7.167
25355,2024-11-22 09:00:00,10.314,7.574
25356,2024-11-22 10:00:00,7.101,5.376
25357,2024-11-22 11:00:00,5.904,5.010
25358,2024-11-22 12:00:00,5.758,4.743

In [ ]:
# List of dataframes
dfs = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df11]

# Loop through each dataframe
for i, df in enumerate(dfs):
    first_col = df.columns[0]
    df[first_col] = pd.to_datetime(df[first_col], errors='coerce')
    df.rename(columns={first_col: 'DaTii'}, inplace=True)
    dfs[i] = df

# Assign the transformed dataframes back to their original names
df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df11 = dfs

/var/folders/rt/8pf1f2_x7sj69ytpkljsggxr0000gn/T/ipykernel_54152/782661234.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[first_col] = pd.to_datetime(df[first_col], errors='coerce')
/var/folders/rt/8pf1f2_x7sj69ytpkljsggxr0000gn/T/ipykernel_54152/782661234.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[first_col] = pd.to_datetime(df[first_col], errors='coerce')

:

In [ ]:
from functools import reduce

# Ensure all 'DaTii' columns are localized to a timezone and then converted to timezone-naive
for df in dfs:
	if df['DaTii'].dt.tz is None:
		df['DaTii'] = df['DaTii'].dt.tz_localize('UTC', ambiguous='NaT', nonexistent='NaT')
	df['DaTii'] = df['DaTii'].dt.tz_convert(None)

# Merge all dataframes on 'DaTii'
merged_df = reduce(lambda left, right: pd.merge(left, right, on='DaTii', how='outer'), dfs)
merged_df