In [18]:
import pandas as pd

df = pd.read_csv('/Users/johannessolibieda/Documents/GitHub/Its-Wekk/4 - Data/4 - Johannes/100051.csv', delimiter=';')  
df.head()

,Datum/Zeit,timestamp_text,O3 [ug/m3],NO2 [ug/m3],PM10 [ug/m3],PM2.5 [ug/m3],CPC [1/cm3],EC [ug/m3],PREC [mm],RAD [W/m2],SO2 [ug/m3],NOX [ug/m3 eq. NO2],TEMP [C]
0,2023-08-30T16:00:00+00:00,30.08.2023 17:00,85.4,2.4,5.8,3.4,2629.3,0.1,0.0,406.3,0.2,2.8,20.4
1,2023-08-30T17:00:00+00:00,30.08.2023 18:00,88.3,2.8,5.2,3.3,2811.6,0.1,0.0,215.7,0.2,2.8,20.0
2,2023-08-30T18:00:00+00:00,30.08.2023 19:00,83.6,3.4,5.7,3.4,3745.7,0.2,0.0,56.2,0.2,3.3,18.7
3,2023-08-30T19:00:00+00:00,30.08.2023 20:00,71.9,5.8,6.6,4.0,5341.6,0.3,0.0,1.5,0.2,5.6,17.1
4,2023-08-30T23:00:00+00:00,31.08.2023 00:00,64.3,2.2,5.0,3.1,1765.4,0.1,0.0,0.0,0.2,2.1,15.9

In [19]:
df['Datum/Zeit'] = pd.to_datetime(df['timestamp_text'], format='%d.%m.%Y %H:%M')
df_sorted = df.sort_values(by='Datum/Zeit').reset_index(drop=True)
df_sorted.head()

,Datum/Zeit,timestamp_text,O3 [ug/m3],NO2 [ug/m3],PM10 [ug/m3],PM2.5 [ug/m3],CPC [1/cm3],EC [ug/m3],PREC [mm],RAD [W/m2],SO2 [ug/m3],NOX [ug/m3 eq. NO2],TEMP [C]
0,2022-01-01 00:00:00,01.01.2022 00:00,6.2,16.9,34.3,34.1,30241.1,NaN,0.0,0.0,1.2,26.0,5.0
1,2022-01-01 01:00:00,01.01.2022 01:00,3.7,18.4,59.6,56.8,37338.4,NaN,0.0,0.0,2.9,31.8,4.8
2,2022-01-01 02:00:00,01.01.2022 02:00,3.7,16.8,84.9,82.6,34217.8,NaN,0.0,0.0,3.0,32.6,4.5
3,2022-01-01 03:00:00,01.01.2022 03:00,4.1,16.5,60.0,58.8,27651.4,NaN,0.0,0.0,2.0,31.4,4.5
4,2022-01-01 04:00:00,01.01.2022 04:00,2.4,20.8,46.2,44.2,20144.4,NaN,0.0,0.0,1.9,28.5,4.5

In [20]:
missing_values = df.isnull().sum()
print(missing_values)

Datum/Zeit                0
timestamp_text            0
O3 [ug/m3]              130
NO2 [ug/m3]             184
PM10 [ug/m3]            105
PM2.5 [ug/m3]           273
CPC [1/cm3]             210
EC [ug/m3]             6617
PREC [mm]               124
RAD [W/m2]               52
SO2 [ug/m3]             131
NOX [ug/m3 eq. NO2]     184
TEMP [C]                 83
dtype: int64

In [22]:
# Calculate the difference between consecutive timestamps
time_diff = df_sorted['Datum/Zeit'].diff()

# Check for gaps greater than 1 hour
gaps = time_diff[time_diff > pd.Timedelta(hours=1)]

print(gaps)
len(df_sorted)

Series([], Name: Datum/Zeit, dtype: timedelta64[ns])

25369

In [23]:
df_sorted = df_sorted.drop(columns=['EC [ug/m3]'])
df_sorted.head()

,Datum/Zeit,timestamp_text,O3 [ug/m3],NO2 [ug/m3],PM10 [ug/m3],PM2.5 [ug/m3],CPC [1/cm3],PREC [mm],RAD [W/m2],SO2 [ug/m3],NOX [ug/m3 eq. NO2],TEMP [C]
0,2022-01-01 00:00:00,01.01.2022 00:00,6.2,16.9,34.3,34.1,30241.1,0.0,0.0,1.2,26.0,5.0
1,2022-01-01 01:00:00,01.01.2022 01:00,3.7,18.4,59.6,56.8,37338.4,0.0,0.0,2.9,31.8,4.8
2,2022-01-01 02:00:00,01.01.2022 02:00,3.7,16.8,84.9,82.6,34217.8,0.0,0.0,3.0,32.6,4.5
3,2022-01-01 03:00:00,01.01.2022 03:00,4.1,16.5,60.0,58.8,27651.4,0.0,0.0,2.0,31.4,4.5
4,2022-01-01 04:00:00,01.01.2022 04:00,2.4,20.8,46.2,44.2,20144.4,0.0,0.0,1.9,28.5,4.5

In [26]:
df_sorted['TEMP [C]'] = df_sorted['TEMP [C]'].interpolate(method='linear')
df_sorted['PREC [mm]'] = df_sorted['PREC [mm]'].interpolate(method='linear')
df_sorted['RAD [W/m2]'] = df_sorted['RAD [W/m2]'].interpolate(method='linear')
df_sorted['CPC [1/cm3]'] = df_sorted['CPC [1/cm3]'].interpolate(method='linear')

# Fill missing values with the mean of values of similar weekday and time
df_sorted['weekday'] = df_sorted['Datum/Zeit'].dt.weekday
df_sorted['hour'] = df_sorted['Datum/Zeit'].dt.hour

for column in df_sorted.columns:
    if df_sorted[column].isnull().sum() > 0 and column not in ['Datum/Zeit', 'timestamp_text', 'weekday', 'hour']:
        df_sorted[column] = df_sorted.groupby(['weekday', 'hour'])[column].transform(lambda x: x.fillna(x.mean()))

df_sorted = df_sorted.drop(columns=['weekday', 'hour'])

In [27]:
missing_values_updated = df_sorted.isnull().sum()
print(missing_values_updated)

Datum/Zeit             0
timestamp_text         0
O3 [ug/m3]             0
NO2 [ug/m3]            0
PM10 [ug/m3]           0
PM2.5 [ug/m3]          0
CPC [1/cm3]            0
PREC [mm]              0
RAD [W/m2]             0
SO2 [ug/m3]            0
NOX [ug/m3 eq. NO2]    0
TEMP [C]               0
dtype: int64

In [28]:
df_sorted.to_csv('1000051cleaned.csv', index=False)