In [2]:
import pandas as pd

file_path = '/Users/johannessolibieda/Documents/GitHub/Its-Wekk/4 - Data/4 - Johannes/Flugbewegungen_cleaned_daily.csv'
df = pd.read_csv(file_path, delimiter=';')
df.head()

        Datum  Flugbewegungen
0  2022-01-01           202.0
1  2022-01-02           228.0
2  2022-01-03           191.0
3  2022-01-04           157.0
4  2022-01-05           161.0

In [7]:
import pandas as pd

# Create a new dataframe with a row for each hour of the day for each date
full_day_df = df.loc[df.index.repeat(24)].reset_index(drop=True)
full_day_df['Hour'] = full_day_df.groupby('Datum').cumcount()

# Set 'Flugbewegungen_per_hour' for each hour
full_day_df['Flugbewegungen_per_hour'] = full_day_df.apply(
    lambda row: row['Flugbewegungen_per_hour'] if 5 <= row['Hour'] < 24 else 0, axis=1
)

# Combine 'Datum' and 'Hour' into a single datetime column
full_day_df['Datum'] = full_day_df.apply(
    lambda row: row['Datum'] + pd.Timedelta(hours=row['Hour']), axis=1)

# Display the updated dataframe
full_day_df.head(48)

                 Datum  Flugbewegungen  Flugbewegungen_per_hour  Hour
0  2022-01-01 00:00:00           202.0                 0.000000     0
1  2022-01-01 01:00:00           202.0                 0.000000     1
2  2022-01-01 02:00:00           202.0                 0.000000     2
3  2022-01-01 03:00:00           202.0                 0.000000     3
4  2022-01-01 04:00:00           202.0                 0.000000     4
5  2022-01-01 05:00:00           202.0                10.631579     5
6  2022-01-01 06:00:00           202.0                10.631579     6
7  2022-01-01 07:00:00           202.0                10.631579     7
8  2022-01-01 08:00:00           202.0                10.631579     8
9  2022-01-01 09:00:00           202.0                10.631579     9
10 2022-01-01 10:00:00           202.0                10.631579    10
11 2022-01-01 11:00:00           202.0                10.631579    11
12 2022-01-01 12:00:00           202.0                10.631579    12
13 2022-01-01 13:00:00           202.0                10.631579    13
14 2022-01-01 14:00:00           202.0                10.631579    14
15 2022-01-01 15:00:00           202.0                10.631579    15
16 2022-01-01 16:00:00           202.0                10.631579    16
17 2022-01-01 17:00:00           202.0                10.631579    17
18 2022-01-01 18:00:00           202.0                10.631579    18
19 2022-01-01 19:00:00           202.0                10.631579    19
20 2022-01-01 20:00:00           202.0                10.631579    20
21 2022-01-01 21:00:00           202.0                10.631579    21
22 2022-01-01 22:00:00           202.0                10.631579    22
23 2022-01-01 23:00:00           202.0                10.631579    23
24 2022-01-02 00:00:00           228.0                 0.000000     0
25 2022-01-02 01:00:00           228.0                 0.000000     1
26 2022-01-02 02:00:00           228.0                 0.000000     2
27 2022-01-02 03:00:00           228.0                 0.000000     3
28 2022-01-02 04:00:00           228.0                 0.000000     4
29 2022-01-02 05:00:00           228.0                12.000000     5
30 2022-01-02 06:00:00           228.0                12.000000     6
31 2022-01-02 07:00:00           228.0                12.000000     7
32 2022-01-02 08:00:00           228.0                12.000000     8
33 2022-01-02 09:00:00           228.0                12.000000     9
34 2022-01-02 10:00:00           228.0                12.000000    10
35 2022-01-02 11:00:00           228.0                12.000000    11
36 2022-01-02 12:00:00           228.0                12.000000    12
37 2022-01-02 13:00:00           228.0                12.000000    13
38 2022-01-02 14:00:00           228.0                12.000000    14
39 2022-01-02 15:00:00           228.0                12.000000    15
40 2022-01-02 16:00:00           228.0                12.000000    16
41 2022-01-02 17:00:00           228.0                12.000000    17
42 2022-01-02 18:00:00           228.0                12.000000    18
43 2022-01-02 19:00:00           228.0                12.000000    19
44 2022-01-02 20:00:00           228.0                12.000000    20
45 2022-01-02 21:00:00           228.0                12.000000    21
46 2022-01-02 22:00:00           228.0                12.000000    22
47 2022-01-02 23:00:00           228.0                12.000000    23

In [11]:
hour_df = full_day_df

# Check if 'Hour' column exists before dropping it
if 'Hour' in hour_df.columns:
	hour_df.drop(['Hour'], axis=1, inplace=True)

# Check if 'Flugbewegungen' column exists before dropping it
if 'Flugbewegungen' in hour_df.columns:
	hour_df.drop(['Flugbewegungen'], axis=1, inplace=True)

In [15]:
hour_df.head(50)

                 Datum  Flugbewegungen_per_hour
0  2022-01-01 00:00:00                 0.000000
1  2022-01-01 01:00:00                 0.000000
2  2022-01-01 02:00:00                 0.000000
3  2022-01-01 03:00:00                 0.000000
4  2022-01-01 04:00:00                 0.000000
5  2022-01-01 05:00:00                10.631579
6  2022-01-01 06:00:00                10.631579
7  2022-01-01 07:00:00                10.631579
8  2022-01-01 08:00:00                10.631579
9  2022-01-01 09:00:00                10.631579
10 2022-01-01 10:00:00                10.631579
11 2022-01-01 11:00:00                10.631579
12 2022-01-01 12:00:00                10.631579
13 2022-01-01 13:00:00                10.631579
14 2022-01-01 14:00:00                10.631579
15 2022-01-01 15:00:00                10.631579
16 2022-01-01 16:00:00                10.631579
17 2022-01-01 17:00:00                10.631579
18 2022-01-01 18:00:00                10.631579
19 2022-01-01 19:00:00                10.631579
20 2022-01-01 20:00:00                10.631579
21 2022-01-01 21:00:00                10.631579
22 2022-01-01 22:00:00                10.631579
23 2022-01-01 23:00:00                10.631579
24 2022-01-02 00:00:00                 0.000000
25 2022-01-02 01:00:00                 0.000000
26 2022-01-02 02:00:00                 0.000000
27 2022-01-02 03:00:00                 0.000000
28 2022-01-02 04:00:00                 0.000000
29 2022-01-02 05:00:00                12.000000
30 2022-01-02 06:00:00                12.000000
31 2022-01-02 07:00:00                12.000000
32 2022-01-02 08:00:00                12.000000
33 2022-01-02 09:00:00                12.000000
34 2022-01-02 10:00:00                12.000000
35 2022-01-02 11:00:00                12.000000
36 2022-01-02 12:00:00                12.000000
37 2022-01-02 13:00:00                12.000000
38 2022-01-02 14:00:00                12.000000
39 2022-01-02 15:00:00                12.000000
40 2022-01-02 16:00:00                12.000000
41 2022-01-02 17:00:00                12.000000
42 2022-01-02 18:00:00                12.000000
43 2022-01-02 19:00:00                12.000000
44 2022-01-02 20:00:00                12.000000
45 2022-01-02 21:00:00                12.000000
46 2022-01-02 22:00:00                12.000000
47 2022-01-02 23:00:00                12.000000
48 2022-01-03 00:00:00                 0.000000
49 2022-01-03 01:00:00                 0.000000

In [16]:
hour_df.to_csv('10Flugbewegungencleaned.csv', index=False)