**Weather Cleaning**

*Import Packages*

In [1]:
import pandas as pd

In [2]:
Weather_full = pd.read_csv("../../00_Uncleaned_Data/Features/01Wetterdaten_Basel_st√ºndlich22_24.csv", skiprows=9)

In [3]:
Weather_full.head()

,timestamp,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
0,20220101T0000,5.560245,0.0,4.320000,180.00000
1,20220101T0100,4.630245,0.0,3.259939,173.65980
2,20220101T0200,3.660245,0.0,3.545589,156.03750
3,20220101T0300,3.880245,0.0,3.671294,168.69006
4,20220101T0400,3.650245,0.0,4.349896,155.55605

In [4]:
# Rename the column
Weather_full.rename(columns={'timestamp': 'Datum'}, inplace=True)

# Change the format of the 'Datum' column
Weather_full['Datum'] = pd.to_datetime(Weather_full['Datum'], format='%Y%m%dT%H%M', utc=True)

# Sort by 'Datum' and set it as the index
Weather_full.sort_values(by='Datum', inplace=True)
Weather_full.set_index('Datum', inplace=True)

# Display the first few rows to verify the changes
Weather_full.head()

,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
Datum,,,,
2022-01-01 00:00:00+00:00,5.560245,0.0,4.320000,180.00000
2022-01-01 01:00:00+00:00,4.630245,0.0,3.259939,173.65980
2022-01-01 02:00:00+00:00,3.660245,0.0,3.545589,156.03750
2022-01-01 03:00:00+00:00,3.880245,0.0,3.671294,168.69006
2022-01-01 04:00:00+00:00,3.650245,0.0,4.349896,155.55605

In [5]:
#hopefully useless
#checking for missing values
Weather_full.reset_index(inplace=True)

# Create a date range from the minimum to the maximum date in the 'Datum' column
date_range = pd.date_range(start=Weather_full['Datum'].min(), end=Weather_full['Datum'].max(), freq='D')

# Create a DataFrame with all the dates in the range
all_dates = pd.DataFrame({'Datum': date_range})

# Merge this new DataFrame with the original to find missing dates
missing_dates = pd.merge(all_dates, Weather_full, on='Datum', how='left', indicator=True)

# Rows that are missing in the original DataFrame will have '_merge' == 'left_only'
missing_rows = missing_dates[missing_dates['_merge'] == 'left_only']

# Output the missing rows (if any)
if not missing_rows.empty:
    print(f"Missing rows for the following dates: {missing_rows['Datum'].tolist()}")
else:
    print("No rows are missing.")

No rows are missing.

In [6]:
Weather_full.to_csv("../../02_Cleaned/Features/01Wetterdaten_cleaned.csv")