In [ ]:
import pandas as pd
#Import the data for the flights
flights = pd.read_csv('C:\\Users\\nando\\OneDrive\\Persönlich\\Dokumente\\GitHub\\Its-Wekk\\4 - Data\\Final_Data\\EuroPort_Flugbewegungen.csv', delimiter=';')

In [107]:
flights.head()

        Datum          Kategorie  Flugpassagiere  Luftfracht  Flugbewegungen
0  2022-10-25       Fracht Cargo               0         NaN             NaN
1  2022-10-25  Andere Kategorien               0         NaN            59.0
2  2022-10-24  Andere Kategorien               0         NaN             1.0
3  2022-10-23   Passagierverkehr           26561        0.12           195.0
4  2022-10-23     Fracht Express               0         NaN             NaN

In [112]:
#drop collums "Flugpassagiere" and "Luftfracht"

flights = flights.drop(columns=["Flugpassagiere", "Luftfracht"])

KeyError: "['Flugpassagiere', 'Luftfracht'] not found in axis"

In [113]:
flights.head()

        Datum          Kategorie  Flugbewegungen
0  2022-10-25       Fracht Cargo             NaN
1  2022-10-25  Andere Kategorien            59.0
2  2022-10-24  Andere Kategorien             1.0
3  2022-10-23   Passagierverkehr           195.0
4  2022-10-23     Fracht Express             NaN

In [ ]:
# Grouping by 'Datum' and summing 'Flugbewegungen'
merged_flights = flights.groupby('Datum', as_index=False)[['Flugbewegungen']].sum()

# Display the result
merged_flights.sort_values(by='Datum', ascending=True)

           Datum  Flugbewegungen
0     2019-01-01           173.0
1     2019-01-02           247.0
2     2019-01-03           284.0
3     2019-01-04           294.0
4     2019-01-05           188.0
...          ...             ...
2148  2024-11-18           197.0
2149  2024-11-19           140.0
2150  2024-11-20           161.0
2151  2024-11-21           137.0
2152  2024-11-22             7.0

[2153 rows x 2 columns]

In [ ]:
#set index to Datum 
merged_flights.set_index('Datum', inplace=True)

In [124]:
#filter data for everyhting after 2022-01-01
filtered_data = merged_flights[merged_flights.index >= '2022-01-01']

In [17]:
filtered_data.to_csv('C:\\Users\\nando\\OneDrive\\Persönlich\\Dokumente\\GitHub\\Its-Wekk\\4 - Data\\Final_Data\\Flugbewegungen_cleaned_daily.csv', sep=';')

NameError: name 'filtered_data' is not defined

In [18]:
#Opening the next dataset: 
#Import the data for the flights
import pandas as pd

Johann = pd.read_csv(r'C:\Users\nando\OneDrive\Persönlich\Dokumente\GitHub\Its-Wekk\4 - Data\Final_Data\Target_Variable_St. Johannplatz.csv', delimiter=';')

In [19]:
Johann.sort_values(by='Datum/Zeit', ascending=True)

,Datum/Zeit,timestamp_text,PM10 (Stundenmittelwerte),PM2.5 (Stundenmittelwerte),O3 (Stundenmittelwerte),NO2 (Stundenmittelwerte),geo_point_2d
120098,2000-01-01T00:00:00+00:00,2000-01-01 01:00:00,NaN,NaN,5.426,42.994,"47.5659354, 7.58192"
120099,2000-01-01T01:00:00+00:00,2000-01-01 02:00:00,NaN,NaN,4.770,41.439,"47.5659354, 7.58192"
120100,2000-01-01T02:00:00+00:00,2000-01-01 03:00:00,NaN,NaN,3.179,42.650,"47.5659354, 7.58192"
6127,2000-01-01T03:00:00+00:00,2000-01-01 04:00:00,NaN,NaN,4.463,36.161,"47.5659354, 7.58192"
6128,2000-01-01T04:00:00+00:00,2000-01-01 05:00:00,NaN,NaN,3.329,37.853,"47.5659354, 7.58192"
...,...,...,...,...,...,...,...
190064,2024-11-22T10:00:00+00:00,2024-11-22 11:00:00,9.305,7.167,41.471,18.956,"47.5659354, 7.58192"
190065,2024-11-22T11:00:00+00:00,2024-11-22 12:00:00,10.314,7.574,34.200,27.397,"47.5659354, 7.58192"
183596,2024-11-22T12:00:00+00:00,2024-11-22 13:00:00,7.101,5.376,52.936,14.932,"47.5659354, 7.58192"
183597,2024-11-22T13:00:00+00:00,2024-11-22 14:00:00,5.904,5.010,55.188,13.124,"47.5659354, 7.58192"
215749,2024-11-22T14:00:00+00:00,2024-11-22 15:00:00,5.758,4.743,58.408,9.572,"47.5659354, 7.58192"

In [20]:
Johann.drop(columns=['timestamp_text', "geo_point_2d", "O3 (Stundenmittelwerte)", "NO2 (Stundenmittelwerte)"], inplace=True)

In [21]:
Johann.head()

,Datum/Zeit,PM10 (Stundenmittelwerte),PM2.5 (Stundenmittelwerte)
0,2018-10-09T13:00:00+00:00,26.818,16.717
1,2018-10-09T21:00:00+00:00,22.495,13.662
2,2018-10-10T17:00:00+00:00,20.270,11.720
3,2018-10-11T01:00:00+00:00,23.086,15.657
4,2018-10-11T12:00:00+00:00,26.507,14.532

In [23]:
Johann['Datum/Zeit'] = pd.to_datetime(Johann['Datum/Zeit']) # convert to datetime
Johann['Datum/Zeit'] = Johann['Datum/Zeit'].dt.tz_localize(None) #remove timezone

In [24]:
Johann.rename(columns={'Datum/Zeit': 'Datum'}, inplace=True)#rename column to match the other dataset

In [25]:
Johann.set_index('Datum', inplace=True) #set index to Datum

In [29]:
filtered_Johann = Johann[Johann.index >= '2022-01-01']

In [34]:
filtered_Johann.sort_values(by='Datum', ascending=False)

                     PM10 (Stundenmittelwerte)  PM2.5 (Stundenmittelwerte)
Datum
2024-11-22 14:00:00                      5.758                       4.743
2024-11-22 13:00:00                      5.904                       5.010
2024-11-22 12:00:00                      7.101                       5.376
2024-11-22 11:00:00                     10.314                       7.574
2024-11-22 10:00:00                      9.305                       7.167
...                                        ...                         ...
2022-01-01 04:00:00                     41.854                      35.799
2022-01-01 03:00:00                     49.625                      42.563
2022-01-01 02:00:00                     68.396                      58.632
2022-01-01 01:00:00                     91.973                      78.909
2022-01-01 00:00:00                     83.840                      71.870

[25328 rows x 2 columns]

In [36]:
#export the cleaned data

filtered_Johann.to_csv('C:\\Users\\nando\\OneDrive\\Persönlich\\Dokumente\\GitHub\\Its-Wekk\\4 - Data\\Final_Data\\Target_Variable_St.Johannsplatz_cleaned_hourly.csv', sep=';')