In [ ]:
import pandas as pd

file_path = r'C:\Users\nando\OneDrive\Persönlich\Dokumente\GitHub\Its-Wekk\4 - Data\Final_Data\100050.csv'
data = pd.read_csv(file_path, delimiter=";")
# Display the first few rows of the dataframe
data.head()

In [ ]:
# Convert the 'Datum/Zeit' column to datetime
data['Datum/Zeit'] = pd.to_datetime(data['Datum/Zeit'])

# Drop the rows before 31.12.2021
data = data.drop(data[data['Datum/Zeit'] < '2021-12-31'].index)

In [ ]:
data = data.drop(columns=['geo_point_2d'])

In [ ]:
data.to_csv(r'C:\Users\nando\OneDrive\Persönlich\Dokumente\GitHub\Its-Wekk\4 - Data\Final_Data\targetvalue_cleaned.csv', index=False)

In [ ]:
file_path = r'C:\Users\nando\OneDrive\Persönlich\Dokumente\GitHub\Its-Wekk\4 - Data\Final_Data\Cleaned\targetvalue_cleaned.csv'

In [ ]:
data = pd.read_csv(file_path)
data.head()

In [ ]:
import matplotlib.pyplot as plt

# Set the 'Datum/Zeit' column as the index
data.set_index('Datum/Zeit', inplace=True)

In [ ]:
# Convert 'timestamp_text' to datetime
data['timestamp_text'] = pd.to_datetime(data['timestamp_text'], errors='coerce')

# Extract the date part
data['date'] = data['timestamp_text'].dt.date

# Group by 'date' and aggregate only numeric columns
daily_data = data.groupby('date')[['pm10_stundenmittelwerte_ug_m3', 
                                   'pm2_5_stundenmittelwerte_ug_m3', 
                                   'no2_stundenmittelwerte_ug_m3']].sum()

# Display the resulting DataFrame
daily_data.head()

In [ ]:
daily_data.to_csv(r'C:\Users\nando\OneDrive\Persönlich\Dokumente\GitHub\Its-Wekk\4 - Data\Final_Data\targetvalue_daily_cleaned.csv', index=False)

In [ ]:

file_path = r"C:\Users\nando\OneDrive\Persönlich\Dokumente\GitHub\Its-Wekk\4 - Data\Final_Data\Cleaned\targetvalue_cleaned.csv"
data = pd.read_csv(file_path)
data.head()

In [ ]:
data.set_index('Datum/Zeit', inplace=True)

In [ ]:
# Convert 'timestamp_text' to datetime
data['timestamp_text'] = pd.to_datetime(data['timestamp_text'], errors='coerce')

In [ ]:
data.head()

In [ ]:
data.to_csv(r'C:\Users\nando\OneDrive\Persönlich\Dokumente\GitHub\Its-Wekk\4 - Data\Final_Data\targetvalue_cleaned.csv', index=False)

**Now onto the next dataset**

In [ ]:
df_flug = pd.read_csv(r'C:\Users\nando\OneDrive\Persönlich\Dokumente\GitHub\Its-Wekk\4 - Data\Final_Data\EuroPort_Flugbewegungen.csv', delimiter=';')
df_flug.head()

        Datum          Kategorie  Flugpassagiere  Luftfracht  Flugbewegungen
0  2022-10-25       Fracht Cargo               0         NaN             NaN
1  2022-10-25  Andere Kategorien               0         NaN            59.0
2  2022-10-24  Andere Kategorien               0         NaN             1.0
3  2022-10-23   Passagierverkehr           26561        0.12           195.0
4  2022-10-23     Fracht Express               0         NaN             NaN

In [51]:
df_flug.drop(columns=['Flugpassagiere', 'Luftfracht'], inplace=True)
df_flug.head()

       Datum          Kategorie  Flugbewegungen
0 2022-10-25       Fracht Cargo             NaN
1 2022-10-25  Andere Kategorien            59.0
2 2022-10-24  Andere Kategorien             1.0
3 2022-10-23   Passagierverkehr           195.0
4 2022-10-23     Fracht Express             NaN

In [52]:
df_flug.fillna(0, inplace=True)
df_flug.head()

       Datum          Kategorie  Flugbewegungen
0 2022-10-25       Fracht Cargo             0.0
1 2022-10-25  Andere Kategorien            59.0
2 2022-10-24  Andere Kategorien             1.0
3 2022-10-23   Passagierverkehr           195.0
4 2022-10-23     Fracht Express             0.0

In [ ]:
daily_data = df_flug.groupby(df_flug.index)[['Flugbewegungen']].sum()

In [61]:
daily_data.head()

            Flugbewegungen
Datum
2019-01-01           173.0
2019-01-02           247.0
2019-01-03           284.0
2019-01-04           294.0
2019-01-05           188.0

In [55]:
df_flug.set_index('Datum', inplace=True)
df_flug.head()

KeyError: "None of ['Datum'] are in the columns"

In [56]:
df_flug.head()

                    Kategorie  Flugbewegungen
Datum
2022-10-25       Fracht Cargo             0.0
2022-10-25  Andere Kategorien            59.0
2022-10-24  Andere Kategorien             1.0
2022-10-23   Passagierverkehr           195.0
2022-10-23     Fracht Express             0.0

In [58]:
# Group by 'date' and aggregate only numeric columns
daily_data = data.groupby('Index')[['Flugbewegungen']].sum()

KeyError: 'Index'