In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("./Schallmessungen_smartcity.csv", sep=";")

In [30]:
df_sorted = df[df["Station"] == "Feldbergstrasse"]

df_sorted.head(5)

print(len(df_sorted))

235188

In [31]:
df_sorted_date = df_sorted.sort_values(by='Zeitstempel')

first_observation = df_sorted_date.head(1)
last_observation = df_sorted_date.tail(1)

print("First Observation:")
print(first_observation)

print("\nLast Observation:")
print(last_observation)

First Observation:
                Station                Zeitstempel  Wert             Geopunkt  \
125227  Feldbergstrasse  2020-06-24T12:14:00+00:00  69.4  47.567005, 7.594749

        Geographische Breite  Geographische Länge               EUI
125227             47.567005             7.594749  0004A30B00F156E2

Last Observation:
                 Station                Zeitstempel  Wert  \
1804366  Feldbergstrasse  2024-11-21T15:49:00+00:00  24.1

                    Geopunkt  Geographische Breite  Geographische Länge  \
1804366  47.567005, 7.594749             47.567005             7.594749

                      EUI
1804366  0004A30B00F156E2

In [32]:
df_sorted_date['Zeitstempel'] = pd.to_datetime(df_sorted_date['Zeitstempel'])
df_filtered = df_sorted_date[df_sorted_date['Zeitstempel'] >= '2022-01-01']

df_filtered.head(100)

,Station,Zeitstempel,Wert,Geopunkt,Geographische Breite,Geographische Länge,EUI
696010,Feldbergstrasse,2022-01-01 00:04:00+00:00,72.0,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2
1298200,Feldbergstrasse,2022-01-01 00:10:00+00:00,69.0,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2
1298201,Feldbergstrasse,2022-01-01 00:15:00+00:00,67.6,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2
1298202,Feldbergstrasse,2022-01-01 00:21:00+00:00,68.4,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2
696011,Feldbergstrasse,2022-01-01 00:26:00+00:00,74.6,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2
...,...,...,...,...,...,...,...
696042,Feldbergstrasse,2022-01-01 09:05:00+00:00,66.5,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2
1298225,Feldbergstrasse,2022-01-01 09:11:00+00:00,65.9,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2
203290,Feldbergstrasse,2022-01-01 09:16:00+00:00,66.2,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2
1298226,Feldbergstrasse,2022-01-01 09:22:00+00:00,64.8,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2
696043,Feldbergstrasse,2022-01-01 09:27:00+00:00,64.6,"47.567005, 7.594749",47.567005,7.594749,0004A30B00F156E2

In [ ]:
Schallmessungen = df_filtered.drop(columns=["Geopunkt", "Geographische Breite", "Geographische Länge", "EUI"])

Schallmessungen.rename(columns={'Zeitstempel': 'Datum'}, inplace=True)
Schallmessungen['Datum'] = Schallmessungen['Datum'].dt.tz_localize(None)

Schallmessungen.set_index('Datum', inplace=True)

In [37]:
Schallmessungen.head()

                             Station  Wert
Datum
2022-01-01 00:04:00  Feldbergstrasse  72.0
2022-01-01 00:10:00  Feldbergstrasse  69.0
2022-01-01 00:15:00  Feldbergstrasse  67.6
2022-01-01 00:21:00  Feldbergstrasse  68.4
2022-01-01 00:26:00  Feldbergstrasse  74.6

In [46]:
Schallmessungen.index = pd.to_datetime(Schallmessungen.index)
Schallmessungen_hourly = Schallmessungen["Wert"].resample('h').mean().round(4)
Schallmessungen_hourly = Schallmessungen_hourly.to_frame()
Schallmessungen_hourly.head()

                        Wert
Datum
2022-01-01 00:00:00  68.5000
2022-01-01 01:00:00  67.0400
2022-01-01 02:00:00  66.2000
2022-01-01 03:00:00  65.6364
2022-01-01 04:00:00  66.0727

In [49]:
Schallmessungen_hourly.to_csv(r"C:\Users\maxd2\OneDrive - Universitaet St.Gallen\Desktop\DSF\Schallmessungen_cleaned.csv", sep=";")

In [71]:
Stromverbrauch = pd.read_csv(r"C:\Users\maxd2\OneDrive - Universitaet St.Gallen\Desktop\DSF\Stromverbrauch_15minIntervall.csv", sep=";")

In [72]:
Stromverbrauch.tail()


Stromverbrauch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451915 entries, 0 to 451914
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Start der Messung         451915 non-null  object
 1   Start der Messung (Text)  451915 non-null  object
 2   Stromverbrauch            451915 non-null  float64
 3   Grundversorgte Kunden     153971 non-null  float64
 4   Freie Kunden              148019 non-null  float64
 5   Jahr                      451915 non-null  int64
 6   Monat                     451915 non-null  int64
 7   Tag                       451915 non-null  int64
 8   Wochentag                 451915 non-null  int64
 9   Tag des Jahres            451915 non-null  int64
 10  Quartal                   451915 non-null  int64
 11  Woche des Jahres          451915 non-null  int64
dtypes: float64(3), int64(7), object(2)
memory usage: 41.4+ MB

In [75]:
Stromverbrauch_cut = Stromverbrauch.drop(columns=["Start der Messung (Text)", "Grundversorgte Kunden", "Freie Kunden", "Jahr", "Monat", "Tag", "Wochentag","Tag des Jahres", "Quartal", "Woche des Jahres"])

Stromverbrauch_cut.rename(columns={'Start der Messung': 'Datum'}, inplace=True)

Stromverbrauch_cut['Datum'] = pd.to_datetime(Stromverbrauch_cut['Datum'], errors='coerce')

Stromverbrauch_cut['Datum'] = Stromverbrauch_cut['Datum'].dt.tz_localize(None)

Stromverbrauch_cut = Stromverbrauch_cut.sort_values(by='Datum')


Stromverbrauch_cut = Stromverbrauch_cut[Stromverbrauch_cut['Datum'] >= '2022-01-01']

Stromverbrauch_cut.set_index('Datum', inplace=True)

In [76]:
Stromverbrauch_hourly = Stromverbrauch_cut["Stromverbrauch"].resample('h').mean().round(4)
Stromverbrauch_hourly = Stromverbrauch_hourly.to_frame()
Stromverbrauch_hourly.head()

                     Stromverbrauch
Datum
2022-01-01 00:00:00      26954.3115
2022-01-01 01:00:00      25162.1338
2022-01-01 02:00:00      24057.3085
2022-01-01 03:00:00      23895.0918
2022-01-01 04:00:00      24704.4652

In [78]:
Stromverbrauch_hourly.to_csv(r"C:\Users\maxd2\OneDrive - Universitaet St.Gallen\Dokumente\GitHub\Its-Wekk\4 - Data\Final_Data\Cleaned\Stromverbrauch_Basel_hourly_cleaned.csv")