In [2]:
import pandas as pd

In [3]:
Weather_full = pd.read_csv("./Wetterdaten_Basel_st√ºndlich22_24.csv", skiprows=9)

In [4]:
Weather_full.head()

,timestamp,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
0,20220101T0000,9.060529,0.0,7.729527,152.24146
1,20220101T0100,8.900529,0.0,8.287822,145.61966
2,20220101T0200,8.740529,0.0,8.145870,135.00000
3,20220101T0300,8.290529,0.0,7.704336,127.40535
4,20220101T0400,7.980528,0.0,7.729527,117.75854

In [6]:
# Rename the column
Weather_full.rename(columns={'timestamp': 'Datum'}, inplace=True)

# Change the format of the 'Datum' column
Weather_full['Datum'] = pd.to_datetime(Weather_full['Datum'], format='%Y%m%dT%H%M')

# Sort by 'Datum' and set it as the index
Weather_full.sort_values(by='Datum', inplace=True)
Weather_full.set_index('Datum', inplace=True)

# Display the first few rows to verify the changes
Weather_full.head()

,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
Datum,,,,
2022-01-01 00:00:00,9.060529,0.0,7.729527,152.24146
2022-01-01 01:00:00,8.900529,0.0,8.287822,145.61966
2022-01-01 02:00:00,8.740529,0.0,8.145870,135.00000
2022-01-01 03:00:00,8.290529,0.0,7.704336,127.40535
2022-01-01 04:00:00,7.980528,0.0,7.729527,117.75854

In [7]:
Weather_full.to_csv("./Cleaned/Wetterdaten_Basel_cleanded22_24.csv")