In [1]:
import pandas as pd

In [8]:
Weather_full = pd.read_csv("./Wetterdaten_Basel_st√ºndlich22_24.csv", skiprows=9)

In [9]:
Weather_full.head()

,timestamp,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
0,20220101T0000,9.060529,0.0,7.729527,152.24146
1,20220101T0100,8.900529,0.0,8.287822,145.61966
2,20220101T0200,8.740529,0.0,8.145870,135.00000
3,20220101T0300,8.290529,0.0,7.704336,127.40535
4,20220101T0400,7.980528,0.0,7.729527,117.75854

In [11]:
# Rename the column
Weather_full.rename(columns={'timestamp': 'Datum'}, inplace=True)

# Change the format of the 'Datum' column
Weather_full['Datum'] = pd.to_datetime(Weather_full['Datum'], format='%Y%m%dT%H')

# Display the first few rows to verify the changes
Weather_full.head()

,Datum,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
0,2022-01-01 00:00:00,9.060529,0.0,7.729527,152.24146
1,2022-01-01 01:00:00,8.900529,0.0,8.287822,145.61966
2,2022-01-01 02:00:00,8.740529,0.0,8.145870,135.00000
3,2022-01-01 03:00:00,8.290529,0.0,7.704336,127.40535
4,2022-01-01 04:00:00,7.980528,0.0,7.729527,117.75854