In [67]:
import pandas as pd

In [68]:
Weather_full = pd.read_csv("./Wetterdaten_Basel_st√ºndlich22_24.csv", skiprows=9)

In [69]:
Weather_full.head()

,timestamp,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
0,20220101T0000,5.560245,0.0,4.320000,180.00000
1,20220101T0100,4.630245,0.0,3.259939,173.65980
2,20220101T0200,3.660245,0.0,3.545589,156.03750
3,20220101T0300,3.880245,0.0,3.671294,168.69006
4,20220101T0400,3.650245,0.0,4.349896,155.55605

In [70]:
# Rename the column
Weather_full.rename(columns={'timestamp': 'Datum'}, inplace=True)

# Change the format of the 'Datum' column
Weather_full['Datum'] = pd.to_datetime(Weather_full['Datum'], format='%Y%m%dT%H%M', utc=True)

# Sort by 'Datum' and set it as the index
Weather_full.sort_values(by='Datum', inplace=True)
Weather_full.set_index('Datum', inplace=True)

# Display the first few rows to verify the changes
Weather_full.head()

,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
Datum,,,,
2022-01-01 00:00:00+00:00,5.560245,0.0,4.320000,180.00000
2022-01-01 01:00:00+00:00,4.630245,0.0,3.259939,173.65980
2022-01-01 02:00:00+00:00,3.660245,0.0,3.545589,156.03750
2022-01-01 03:00:00+00:00,3.880245,0.0,3.671294,168.69006
2022-01-01 04:00:00+00:00,3.650245,0.0,4.349896,155.55605

In [71]:
import numpy as np
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

target_columns = ["Basel Temperature [2 m elevation corrected]", "Basel Precipitation Total", "Basel Wind Speed [10 m]", "Basel Wind Direction [10 m]"]

for col in target_columns:
    Weather_full[col] = scaler.fit_transform(Weather_full[col].values.reshape(-1, 1))


means = Weather_full[target_columns].mean()
stds = Weather_full[target_columns].std()

print(f"Means: {means}")

print(f"Stds: {stds}")

Weather_full.head()

Means: Basel Temperature [2 m elevation corrected]   -1.418384e-16
Basel Precipitation Total                      1.080673e-16
Basel Wind Speed [10 m]                        4.953086e-17
Basel Wind Direction [10 m]                    7.204489e-17
dtype: float64
Stds: Basel Temperature [2 m elevation corrected]    1.00002
Basel Precipitation Total                      1.00002
Basel Wind Speed [10 m]                        1.00002
Basel Wind Direction [10 m]                    1.00002
dtype: float64

,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
Datum,,,,
2022-01-01 00:00:00+00:00,-0.926467,-0.314805,-0.694066,0.115891
2022-01-01 01:00:00+00:00,-1.041967,-0.314805,-0.918024,0.047361
2022-01-01 02:00:00+00:00,-1.162435,-0.314805,-0.857675,-0.143112
2022-01-01 03:00:00+00:00,-1.135112,-0.314805,-0.831118,-0.006355
2022-01-01 04:00:00+00:00,-1.163677,-0.314805,-0.687750,-0.148316

In [72]:
#hopefully useless
#checking for missing values
Weather_full.reset_index(inplace=True)

# Create a date range from the minimum to the maximum date in the 'Datum' column
date_range = pd.date_range(start=Weather_full['Datum'].min(), end=Weather_full['Datum'].max(), freq='D')

# Create a DataFrame with all the dates in the range
all_dates = pd.DataFrame({'Datum': date_range})

# Merge this new DataFrame with the original to find missing dates
missing_dates = pd.merge(all_dates, Weather_full, on='Datum', how='left', indicator=True)

# Rows that are missing in the original DataFrame will have '_merge' == 'left_only'
missing_rows = missing_dates[missing_dates['_merge'] == 'left_only']

# Output the missing rows (if any)
if not missing_rows.empty:
    print(f"Missing rows for the following dates: {missing_rows['Datum'].tolist()}")
else:
    print("No rows are missing.")

No rows are missing.

In [73]:
Weather_full.to_csv("./Cleaned/Wetterdaten_Basel_cleanded22_24.csv")

In [56]:
Gas_full = pd.read_csv("./Gasverbrauch_im_Versorgungsgebiet_der_IWB.csv", sep=';')

In [57]:
Gas_full.head()

,Start der Messung,Gasverbrauch,Datum,Zeit,Jahr,Monat,Tag,Wochentag,Tag des Jahres,Quartal,Woche des Jahres
0,2023-10-18T23:00:00+00:00,185054.4299,2023-10-19,01:00,2023,10,19,3,292,4,42
1,2023-10-19T00:00:00+00:00,184888.9114,2023-10-19,02:00,2023,10,19,3,292,4,42
2,2023-10-19T01:00:00+00:00,196871.6645,2023-10-19,03:00,2023,10,19,3,292,4,42
3,2023-10-19T04:00:00+00:00,322512.8374,2023-10-19,06:00,2023,10,19,3,292,4,42
4,2023-10-19T05:00:00+00:00,348277.5490,2023-10-19,07:00,2023,10,19,3,292,4,42

In [58]:
Gas_full.sort_values(by="Start der Messung", inplace=True)
Gas_full.head()

Gas_full.drop(columns=["Datum", "Zeit", "Jahr", "Monat", "Tag", "Wochentag", "Tag des Jahres", "Quartal", "Woche des Jahres"], inplace=True)

Gas_full['Start der Messung'] = pd.to_datetime(Gas_full['Start der Messung'], utc=True)

Gas_full.rename(columns={'Start der Messung': 'Datum'}, inplace=True)
#Gas_full.set_index('Datum', inplace=True)
Gas_full = Gas_full[Gas_full['Datum'] >= '2022-01-01']
#Gas_full.index = Gas_full.index.str.replace('T', ' ')

In [59]:


#hopefully useless
#checking for missing values
Gas_full.reset_index(inplace=True)
# Create a date range from the minimum to the maximum date in the 'Datum' column with hourly frequency
date_range = pd.date_range(start=Gas_full['Datum'].min(), end=Gas_full['Datum'].max(), freq='H')

# Create a DataFrame with all the dates in the range
all_dates = pd.DataFrame({'Datum': date_range})

# Merge this new DataFrame with the original to find missing dates
missing_dates = pd.merge(all_dates, Gas_full, on='Datum', how='left', indicator=True)

# Rows that are missing in the original DataFrame will have '_merge' == 'left_only'
missing_rows = missing_dates[missing_dates['_merge'] == 'left_only']

# Output the missing rows (if any)
if not missing_rows.empty:
    print(f"Missing rows for the following dates: {missing_rows['Datum'].tolist()}")
else:
    print("No rows are missing.")

Missing rows for the following dates: [Timestamp('2022-10-30 00:00:00+0000', tz='UTC'), Timestamp('2023-10-29 00:00:00+0000', tz='UTC'), Timestamp('2024-10-27 00:00:00+0000', tz='UTC')]

/var/folders/rt/8pf1f2_x7sj69ytpkljsggxr0000gn/T/ipykernel_68747/3686709294.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_range = pd.date_range(start=Gas_full['Datum'].min(), end=Gas_full['Datum'].max(), freq='H')

In [60]:
Gas_full.index = Gas_full['Datum']

# Check for duplicates in the index
print(Gas_full.index.duplicated().sum())  # Number of duplicates
print(Gas_full.index[Gas_full.index.duplicated()])  # Which labels are duplicates

duplicates = Gas_full.index.duplicated(keep=False)
print(Gas_full[duplicates])

3
DatetimeIndex(['2022-03-27 01:00:00+00:00', '2023-03-26 01:00:00+00:00',
               '2024-03-31 01:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Datum', freq=None)
                           index                     Datum  Gasverbrauch
Datum
2022-03-27 01:00:00+00:00  23891 2022-03-27 01:00:00+00:00   251581.2461
2022-03-27 01:00:00+00:00   3201 2022-03-27 01:00:00+00:00   346278.7600
2023-03-26 01:00:00+00:00  16823 2023-03-26 01:00:00+00:00   236378.3897
2023-03-26 01:00:00+00:00   6553 2023-03-26 01:00:00+00:00   254217.8493
2024-03-31 01:00:00+00:00   4705 2024-03-31 01:00:00+00:00   220161.4192
2024-03-31 01:00:00+00:00  26237 2024-03-31 01:00:00+00:00   244597.7287

In [61]:
# Define the specific dates for which you want to apply the rolling mean
specific_dates = [
    pd.Timestamp('2022-10-30 00:00:00+0000', tz='UTC'),
    pd.Timestamp('2023-10-29 00:00:00+0000', tz='UTC'),
    pd.Timestamp('2024-10-27 00:00:00+0000', tz='UTC')
]

# Ensure 'Datum' is in datetime format (if not already)
Gas_full.index = pd.to_datetime(Gas_full.index, utc=True)

# Remove duplicate indices
Gas_full = Gas_full[~Gas_full.index.duplicated(keep='first')]

# Reindex to include specific dates
Gas_full = Gas_full.reindex(Gas_full.index.union(specific_dates))

# Create a mask to filter the specific dates
mask = Gas_full.index.isin(specific_dates)

# Apply the rolling mean to the specified dates only
Gas_full.loc[mask, 'Gasverbrauch'] = Gas_full.loc[mask, 'Gasverbrauch'].fillna(
    Gas_full['Gasverbrauch'].rolling(window=3, min_periods=1).mean()
)

# Output the resulting DataFrame
print(Gas_full.loc[specific_dates])

                           index Datum   Gasverbrauch
Datum
2022-10-30 00:00:00+00:00    NaN   NaT   94281.731405
2023-10-29 00:00:00+00:00    NaN   NaT  118834.047100
2024-10-27 00:00:00+00:00    NaN   NaT  133432.787550

#standardize the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# Reshape the column to a 2D array
Gas_full["Gasverbrauch_scaled"] = scaler.fit_transform(Gas_full["Gasverbrauch"].values.reshape(-1, 1))

# Verify the mean and standard deviation
Gas_full["Gasverbrauch_scaled"].mean(), Gas_full["Gasverbrauch_scaled"].std()

In [62]:
Gas_full.drop(columns=["Gasverbrauch"], inplace=True)

print(Gas_full)


# Gas_full.to_csv("./Cleaned/Gasverbrauch_cleaned.csv")

                             index                     Datum
Datum
2022-01-01 00:00:00+00:00   4229.0 2022-01-01 00:00:00+00:00
2022-01-01 01:00:00+00:00   4230.0 2022-01-01 01:00:00+00:00
2022-01-01 02:00:00+00:00  25727.0 2022-01-01 02:00:00+00:00
2022-01-01 03:00:00+00:00   4231.0 2022-01-01 03:00:00+00:00
2022-01-01 04:00:00+00:00  13339.0 2022-01-01 04:00:00+00:00
...                            ...                       ...
2024-11-21 00:00:00+00:00  15308.0 2024-11-21 00:00:00+00:00
2024-11-21 01:00:00+00:00  19090.0 2024-11-21 01:00:00+00:00
2024-11-21 02:00:00+00:00  15309.0 2024-11-21 02:00:00+00:00
2024-11-21 03:00:00+00:00  19091.0 2024-11-21 03:00:00+00:00
2024-11-21 04:00:00+00:00   8694.0 2024-11-21 04:00:00+00:00

[25325 rows x 2 columns]

In [64]:
# Ensure 'Datum' is not both an index level and a column
if 'Datum' in Gas_full.index.names:
    Gas_full = Gas_full.reset_index(drop=True)  # Avoid conflict by not adding the index as a column

# Create a date range from the minimum to the maximum date in the 'Datum' column with hourly frequency
full_date_range = pd.date_range(start=Gas_full['Datum'].min(), end=Gas_full['Datum'].max(), freq='H')

# Create a DataFrame with all the dates in the range
full_dates_df = pd.DataFrame({'Datum': full_date_range})

# Perform the merge to find missing dates
merged_dates = pd.merge(full_dates_df, Gas_full, on='Datum', how='left', indicator=True)

# Rows that are missing in the original DataFrame will have '_merge' == 'left_only'
missing_rows = merged_dates[merged_dates['_merge'] == 'left_only']

# Output the missing rows (if any)
if not missing_rows.empty:
    print(f"Missing rows for the following dates: {missing_rows['Datum'].tolist()}")
else:
    print("No rows are missing.")

Missing rows for the following dates: [Timestamp('2022-10-30 00:00:00+0000', tz='UTC'), Timestamp('2023-10-29 00:00:00+0000', tz='UTC'), Timestamp('2024-10-27 00:00:00+0000', tz='UTC')]

/var/folders/rt/8pf1f2_x7sj69ytpkljsggxr0000gn/T/ipykernel_68747/1289036943.py:6: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_date_range = pd.date_range(start=Gas_full['Datum'].min(), end=Gas_full['Datum'].max(), freq='H')

In [74]:
# Ensure 'Datum' is set as the index
if 'Datum' not in Gas_full.index.names:
	Gas_full.set_index('Datum', inplace=True)

# Check if 'Gasverbrauch' column exists
if 'Gasverbrauch' in Gas_full.columns:
	# Interpolate the missing values in the 'Gasverbrauch' column
	Gas_full['Gasverbrauch'] = Gas_full['Gasverbrauch'].interpolate(method='time')
else:
	print("Column 'Gasverbrauch' does not exist in the DataFrame.")

# Verify that there are no missing values left
print(Gas_full.isnull().sum())

# Display the DataFrame to verify the changes
Gas_full.head()

Column 'Gasverbrauch' does not exist in the DataFrame.
index    3
dtype: int64

                             index
Datum
2022-01-01 00:00:00+00:00   4229.0
2022-01-01 01:00:00+00:00   4230.0
2022-01-01 02:00:00+00:00  25727.0
2022-01-01 03:00:00+00:00   4231.0
2022-01-01 04:00:00+00:00  13339.0