In [1]:
import pandas as pd

file_path = '/Users/johannessolibieda/Documents/GitHub/Its-Wekk/4 - Data/4 - Johannes/Flugbewegungen_cleaned_daily.csv'
df = pd.read_csv(file_path, delimiter=';')
df.head()

        Datum  Flugbewegungen
0  2022-01-01           202.0
1  2022-01-02           228.0
2  2022-01-03           191.0
3  2022-01-04           157.0
4  2022-01-05           161.0

In [4]:
import pandas as pd

# Create a new dataframe with a row for each hour of the day for each date
full_day_df = df.loc[df.index.repeat(24)].reset_index(drop=True)
full_day_df['Hour'] = full_day_df.groupby('Datum').cumcount()

# Initialize 'Flugbewegungen_per_hour' column with zeros
full_day_df['Flugbewegungen_per_hour'] = 0

# Set 'Flugbewegungen_per_hour' for each hour
full_day_df['Flugbewegungen_per_hour'] = full_day_df.apply(
    lambda row: row['Flugbewegungen'] if 5 <= row['Hour'] < 24 else 0, axis=1
)

# Convert 'Datum' column to datetime
full_day_df['Datum'] = pd.to_datetime(full_day_df['Datum'], format='%Y-%m-%d')

# Combine 'Datum' and 'Hour' into a single datetime column
full_day_df['Datum'] = full_day_df.apply(
    lambda row: row['Datum'] + pd.Timedelta(hours=row['Hour']), axis=1)

# Display the updated dataframe
full_day_df.head(48)

                 Datum  Flugbewegungen  Hour  Flugbewegungen_per_hour
0  2022-01-01 00:00:00           202.0     0                      0.0
1  2022-01-01 01:00:00           202.0     1                      0.0
2  2022-01-01 02:00:00           202.0     2                      0.0
3  2022-01-01 03:00:00           202.0     3                      0.0
4  2022-01-01 04:00:00           202.0     4                      0.0
5  2022-01-01 05:00:00           202.0     5                    202.0
6  2022-01-01 06:00:00           202.0     6                    202.0
7  2022-01-01 07:00:00           202.0     7                    202.0
8  2022-01-01 08:00:00           202.0     8                    202.0
9  2022-01-01 09:00:00           202.0     9                    202.0
10 2022-01-01 10:00:00           202.0    10                    202.0
11 2022-01-01 11:00:00           202.0    11                    202.0
12 2022-01-01 12:00:00           202.0    12                    202.0
13 2022-01-01 13:00:00           202.0    13                    202.0
14 2022-01-01 14:00:00           202.0    14                    202.0
15 2022-01-01 15:00:00           202.0    15                    202.0
16 2022-01-01 16:00:00           202.0    16                    202.0
17 2022-01-01 17:00:00           202.0    17                    202.0
18 2022-01-01 18:00:00           202.0    18                    202.0
19 2022-01-01 19:00:00           202.0    19                    202.0
20 2022-01-01 20:00:00           202.0    20                    202.0
21 2022-01-01 21:00:00           202.0    21                    202.0
22 2022-01-01 22:00:00           202.0    22                    202.0
23 2022-01-01 23:00:00           202.0    23                    202.0
24 2022-01-02 00:00:00           228.0     0                      0.0
25 2022-01-02 01:00:00           228.0     1                      0.0
26 2022-01-02 02:00:00           228.0     2                      0.0
27 2022-01-02 03:00:00           228.0     3                      0.0
28 2022-01-02 04:00:00           228.0     4                      0.0
29 2022-01-02 05:00:00           228.0     5                    228.0
30 2022-01-02 06:00:00           228.0     6                    228.0
31 2022-01-02 07:00:00           228.0     7                    228.0
32 2022-01-02 08:00:00           228.0     8                    228.0
33 2022-01-02 09:00:00           228.0     9                    228.0
34 2022-01-02 10:00:00           228.0    10                    228.0
35 2022-01-02 11:00:00           228.0    11                    228.0
36 2022-01-02 12:00:00           228.0    12                    228.0
37 2022-01-02 13:00:00           228.0    13                    228.0
38 2022-01-02 14:00:00           228.0    14                    228.0
39 2022-01-02 15:00:00           228.0    15                    228.0
40 2022-01-02 16:00:00           228.0    16                    228.0
41 2022-01-02 17:00:00           228.0    17                    228.0
42 2022-01-02 18:00:00           228.0    18                    228.0
43 2022-01-02 19:00:00           228.0    19                    228.0
44 2022-01-02 20:00:00           228.0    20                    228.0
45 2022-01-02 21:00:00           228.0    21                    228.0
46 2022-01-02 22:00:00           228.0    22                    228.0
47 2022-01-02 23:00:00           228.0    23                    228.0

In [5]:
hour_df = full_day_df

# Check if 'Hour' column exists before dropping it
if 'Hour' in hour_df.columns:
	hour_df.drop(['Hour'], axis=1, inplace=True)

# Check if 'Flugbewegungen' column exists before dropping it
if 'Flugbewegungen' in hour_df.columns:
	hour_df.drop(['Flugbewegungen'], axis=1, inplace=True)

In [6]:
hour_df.head(50)

                 Datum  Flugbewegungen_per_hour
0  2022-01-01 00:00:00                      0.0
1  2022-01-01 01:00:00                      0.0
2  2022-01-01 02:00:00                      0.0
3  2022-01-01 03:00:00                      0.0
4  2022-01-01 04:00:00                      0.0
5  2022-01-01 05:00:00                    202.0
6  2022-01-01 06:00:00                    202.0
7  2022-01-01 07:00:00                    202.0
8  2022-01-01 08:00:00                    202.0
9  2022-01-01 09:00:00                    202.0
10 2022-01-01 10:00:00                    202.0
11 2022-01-01 11:00:00                    202.0
12 2022-01-01 12:00:00                    202.0
13 2022-01-01 13:00:00                    202.0
14 2022-01-01 14:00:00                    202.0
15 2022-01-01 15:00:00                    202.0
16 2022-01-01 16:00:00                    202.0
17 2022-01-01 17:00:00                    202.0
18 2022-01-01 18:00:00                    202.0
19 2022-01-01 19:00:00                    202.0
20 2022-01-01 20:00:00                    202.0
21 2022-01-01 21:00:00                    202.0
22 2022-01-01 22:00:00                    202.0
23 2022-01-01 23:00:00                    202.0
24 2022-01-02 00:00:00                      0.0
25 2022-01-02 01:00:00                      0.0
26 2022-01-02 02:00:00                      0.0
27 2022-01-02 03:00:00                      0.0
28 2022-01-02 04:00:00                      0.0
29 2022-01-02 05:00:00                    228.0
30 2022-01-02 06:00:00                    228.0
31 2022-01-02 07:00:00                    228.0
32 2022-01-02 08:00:00                    228.0
33 2022-01-02 09:00:00                    228.0
34 2022-01-02 10:00:00                    228.0
35 2022-01-02 11:00:00                    228.0
36 2022-01-02 12:00:00                    228.0
37 2022-01-02 13:00:00                    228.0
38 2022-01-02 14:00:00                    228.0
39 2022-01-02 15:00:00                    228.0
40 2022-01-02 16:00:00                    228.0
41 2022-01-02 17:00:00                    228.0
42 2022-01-02 18:00:00                    228.0
43 2022-01-02 19:00:00                    228.0
44 2022-01-02 20:00:00                    228.0
45 2022-01-02 21:00:00                    228.0
46 2022-01-02 22:00:00                    228.0
47 2022-01-02 23:00:00                    228.0
48 2022-01-03 00:00:00                      0.0
49 2022-01-03 01:00:00                      0.0

In [7]:
missing_values = hour_df.isnull().sum()
print(missing_values)

Datum                      0
Flugbewegungen_per_hour    0
dtype: int64

In [16]:
hour_df.to_csv('10Flugbewegungencleaned.csv', index=False)